Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

feat(api): Add structured HTML rendering for stack traces with syntax highlighting
  api/code.go
  api/code_test.go
  api/stacktrace.go
  entity.go
Labels: none

feat(mcp): Add fluent Builder API and discover-tools MCP tool
  mcp/builder.go
  mcp/builder_test.go
  mcp/command.go
  mcp/config.go
  mcp/discover_tools.go
  mcp/discover_tools_test.go
  mcp/prompts.go
  mcp/registry.go
  mcp/registry_test.go
  mcp/server.go
Labels: mcp

chore(deps): clean up unused dependencies in go.sum
  .gitignore
  go.sum
Labels: none

refactor(api): simplify switch statement in parseJavaFrame
  api/stacktrace_java.go
Labels: none

feat(api,flags): add unified diff rendering and grouped flag help output
  api/diff.go
  api/diff_test.go
  cobra_command.go
  flags.go
  flags_test.go
  go.mod
  go.sum
Labels: none

build(makefile): add git commit and build date to binary via ldflags
  Makefile
  examples/enitity/webapp/src/App.tsx
  examples/enitity/webapp/tsconfig.json
  examples/enitity/webapp/vite.config.ts
  go.sum
Labels: none

refactor(api,mcp,rpc): extract helper functions and improve code organization
  api/diff.go
  api/stacktrace.go
  api/stacktrace_test.go
  examples/enitity/webapp/src/App.tsx
  examples/uber_demo/main.go
  flags_test.go
  mcp/command.go
  mcp/command_test.go
  mcp/install.go
  mcp/install_test.go
  mcp/server.go
  mcp/sse_test.go
  rpc/openapi_serve_integration_test.go
Labels: mcp

build(makefile): add git commit and build date to binary via ldflags
  Makefile
  examples/enitity/webapp/src/App.tsx
  examples/enitity/webapp/tsconfig.json
  examples/enitity/webapp/vite.config.ts
  go.sum
Labels: none

feat(api,flags): add unified diff rendering and grouped flag help output
  api/diff.go
  api/diff_test.go
  cobra_command.go
  flags.go
  flags_test.go
  go.mod
  go.sum
Labels: none

feat(api): Add structured HTML rendering for stack traces with syntax highlighting
  api/code.go
  api/code_test.go
  api/stacktrace.go
  entity.go
Labels: none

feat(entity): add hidden _id column to wrapped entities
  go.sum
Labels: none

chore(deps): clean up unused dependencies in go.sum
  .gitignore
  go.sum
Labels: none

feat(formatters): add StackTrace rendering support to HTML formatters
  formatters/html_formatter.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
Labels: none

feat(mcp): add SSE transport, tools command, and multi-client install support
  examples/enitity/main.go
  go.sum
  mcp/builder_test.go
  mcp/command.go
  mcp/command_test.go
  mcp/install.go
  mcp/install_test.go
  mcp/registry.go
  mcp/registry_test.go
  mcp/server.go
  mcp/sse_test.go
Labels: mcp

feat(mcp): Add fluent Builder API and discover-tools MCP tool
  mcp/builder.go
  mcp/builder_test.go
  mcp/command.go
  mcp/config.go
  mcp/discover_tools.go
  mcp/discover_tools_test.go
  mcp/prompts.go
  mcp/registry.go
  mcp/registry_test.go
  mcp/server.go
Labels: mcp

feat(api): add stack trace parsing and rendering with source resolution
  go.sum
Labels: none

feat(examples): Add syntax highlighting and stack trace rendering support
  examples/enitity/webapp/package.json
  examples/enitity/webapp/pnpm-lock.yaml
  examples/enitity/webapp/pnpm-workspace.yaml
  examples/enitity/webapp/src/App.tsx
  examples/enitity/webapp/src/index.css
  examples/enitity/webapp/src/main.tsx
  examples/enitity/webapp/tsconfig.json
  examples/enitity/webapp/vite.config.ts
  examples/uber_demo/go.sum
  examples/uber_demo/main.go
Labels: none

refactor(api,mcp,rpc): extract helper functions and improve code organization
  api/diff.go
  api/stacktrace.go
  api/stacktrace_test.go
  examples/enitity/webapp/src/App.tsx
  examples/uber_demo/main.go
  flags_test.go
  mcp/command.go
  mcp/command_test.go
  mcp/install.go
  mcp/install_test.go
  mcp/server.go
  mcp/sse_test.go
  rpc/openapi_serve_integration_test.go
Labels: mcp

refactor(api): simplify switch statement in parseJavaFrame
  api/stacktrace_java.go
Labels: none

chore(release): 1.21.9 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  b059cf91dda7637600922340575829cccfcb89ef
Labels: none

feat(examples): Add syntax highlighting and stack trace rendering support
  examples/enitity/webapp/src/App.tsx
Labels: none

feat(entity): add WithOptionalID for actions with flag-supplied targets
  entity.go
  entity_filters_test.go
Labels: none

feat(api,flags): add unified diff rendering and grouped flag help output
  go.sum
Labels: none

feat(mcp): add SSE transport, tools command, and multi-client install support
  go.sum
  mcp/command.go
  mcp/registry.go
  mcp/server.go
Labels: mcp

feat(entity): add hidden _id column to wrapped entities
  go.sum
Labels: none

feat(mcp): Add fluent Builder API and discover-tools MCP tool
  mcp/command.go
  mcp/registry.go
  mcp/server.go
Labels: mcp

chore(deps): clean up unused dependencies in go.sum
  go.sum
Labels: none

refactor(api,mcp,rpc): extract helper functions and improve code organization
  mcp/server.go
Labels: mcp

feat(api): add stack trace parsing and rendering with source resolution
  go.sum
Labels: none

build(makefile): add git commit and build date to binary via ldflags
  examples/enitity/webapp/src/App.tsx
  go.sum
Labels: none

chore(deps): update dependencies to latest versions
  go.mod
  go.sum
Labels: none

feat(rpc,cobra): Support rich error rendering and configurable converter paths
  cobra_command.go
  cobra_command_test.go
  rpc/converter.go
  rpc/openapi.go
  rpc/serve.go
Labels: none

fix(task): treat StatusWarning as terminal state to freeze endTime
  examples/go.mod
  task/task.go
  task/task_status_test.go
Labels: task

chore(deps): update dependencies to latest versions
  go.mod
  go.sum
Labels: none

docs(readme): simplify and restructure README for clarity and brevity
  README.md
Labels: none

chore(deps): update Go dependencies in examples module
  examples/go.mod
  examples/go.sum
Labels: none

feat(api): add stack trace parsing and rendering with source resolution
  go.sum
Labels: none

feat(examples): Add syntax highlighting and stack trace rendering support
  examples/enitity/webapp/src/App.tsx
Labels: none

refactor(api,mcp,rpc): extract helper functions and improve code organization
  mcp/server.go
Labels: mcp

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
