Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"

chore: revert api/types
  api/types.go
  formatters/markdown_formatter_test.go
  go.mod
  go.sum
Labels: none

Convert json.RawMessage to JSON strings instead of byte arrays (#41)
  api/parser.go
  formatters/markdown_formatter_test.go
  go.mod
  go.sum
Labels: none

fix(task): prevent hanging and terminal corruption in task manager
  task/batch.go
  task/manager.go
  task/task.go
Labels: task

fix(task): resolve race conditions in batch.go
  task/batch.go
  task/batch_test.go
Labels: none

fix(task): resolve data races in Task and Manager
  task/manager.go
  task/render.go
  task/task.go
Labels: task

fix: formatting improvements
  api/filter_test.go
  api/html.go
  api/human.go
  api/human_test.go
  api/icons/icons.go
  api/keyvalue_test.go
  api/meta.go
  api/parser.go
  api/pretty_row_test.go
  api/table.go
  api/text.go
  api/themes.go
  examples/uber_demo/main.go
  formatters/formatter_matrix_test.go
  formatters/formatters_test.go
  formatters/html/html_formatter_test.go
  formatters/html/tree.css
  formatters/manager.go
  formatters/map_fields_test.go
  formatters/map_key_sorting_test.go
  formatters/parser.go
  formatters/parser_test.go
  formatters/pretty_row_integration_test.go
  formatters/sorting_test.go
  formatters/table_labels_test.go
  formatters/tree_test.go
Labels: formatters

fix: args handling in clicky.AddCommand
  cobra_command.go
  flags/assignment.go
  flags/binding.go
  flags/parser.go
  flags/types.go
Labels: none

chore: ai refactorings
  ai/agent.go
  ai/api.go
  ai/claude_agent.go
  ai/cost.go
  ai/json_cleanup.go
  ai/llm_agent.go
Labels: none

fix: batch race conditions
  task/batch.go
Labels: none

fix: parse max-w unit suffixes (ch, px, rem, em)
  api/tailwind/tailwind.go
Labels: none

feat: default to truncate-suffix when constraints specified
  api/tailwind/tailwind.go
  api/tailwind/truncate_test.go
Labels: none

fix: prevent truncate class from overwriting explicit max-w
  api/tailwind/tailwind.go
Labels: none

feat: migrate terminal tables to lipgloss (hybrid approach)
  api/table.go
Labels: none

feat: migrate tree rendering to lipgloss
  api/meta.go
  formatters/tree_formatter.go
  formatters/tree_test.go
Labels: none

chore: switch tree/table printing back to lipgloss
  api/html.go
  api/human.go
  api/parser.go
  api/pretty_row_test.go
  api/table.go
  api/types.go
  examples/go.mod
  examples/go.sum
  examples/uber_demo/main.go
  filesystem.go
  format.go
  formatters/formatters_test.go
  formatters/pretty_formatter.go
  formatters/schema.go
  go.mod
  go.sum
Labels: formatters

chore: fix nested html table output
  api/table.go
  formatters/html/html_formatter.go
Labels: none

chore: fix nested html tree output
  api/meta.go
  api/tree_html.go
  formatters/html/html_formatter.go
  formatters/html/html_tooltip_playwright_test.go
Labels: none

chore: html fixes
  .gitignore
  api/html.go
  api/text.go
  api/types.go
  examples/uber_demo/main.go
  exec/exec.go
  task/batch.go
Labels: none

chore: review fixes
  ai/api.go
  api/themes.go
  examples/file-tree-demo.go
  flags/binding.go
  formatters/html/tooltips.js
  formatters/pdf_formatter.go
  formatters/pretty_row_integration_test.go
  formatters/schema.go
Labels: none

fix: bump golangci
  .github/workflows/lint.yml
Labels: none

fix: bump golangci
  .github/workflows/lint.yml
Labels: none

Notes added by 'git notes add'
  be9e9f2ddd0c89f115c25e9c3d6ea4408b3b8203
Labels: none

chore(release): 1.11.2 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

fix: formatting improvements
  api/filter_test.go
  api/html.go
  api/human.go
  api/human_test.go
  api/icons/icons.go
  api/keyvalue_test.go
  api/meta.go
  api/parser.go
  api/pretty_row_test.go
  api/table.go
  api/text.go
  api/themes.go
  examples/uber_demo/main.go
  formatters/formatter_matrix_test.go
  formatters/formatters_test.go
  formatters/html/html_formatter_test.go
  formatters/html/tree.css
  formatters/manager.go
  formatters/map_fields_test.go
  formatters/map_key_sorting_test.go
  formatters/parser.go
  formatters/parser_test.go
  formatters/pretty_row_integration_test.go
  formatters/sorting_test.go
  formatters/table_labels_test.go
  formatters/tree_test.go
Labels: formatters

fix: prevent truncate class from overwriting explicit max-w
  api/tailwind/tailwind.go
Labels: none

fix: add missing types and methods for compilation
  api/meta.go
  api/types.go
  formatters/parser.go
Labels: none

fix(task): resolve race conditions in batch.go
  task/batch.go
  task/batch_test.go
Labels: none

feat: migrate tree rendering to lipgloss
  api/meta.go
  formatters/tree_formatter.go
  formatters/tree_test.go
Labels: none

fix: restore table rendering temporarily, fix ANSI test checks
  api/types.go
  formatters/formatter_matrix_test.go
  formatters/pretty_formatter.go
Labels: formatters

fix: update test to handle Textable interface properly
  api/pretty_row_test.go
Labels: none

fix: parse max-w unit suffixes (ch, px, rem, em)
  api/tailwind/tailwind.go
Labels: none

refactor: remove Formatted(), Plain(), Markdown(), HTML() from FieldValue
  api/types.go
  formatters/csv_formatter.go
  formatters/excel.go
  formatters/formatters_test.go
  formatters/html/html_formatter.go
  formatters/html/html_icon_test.go
  formatters/html/html_pdf_formatter.go
  formatters/html/html_tooltip_playwright_test.go
  formatters/manager.go
  formatters/map_fields_test.go
  formatters/markdown_formatter.go
  formatters/pdf_formatter.go
  formatters/pretty_formatter.go
  formatters/schema.go
  formatters/suite_test.go
  formatters/table.go
  formatters/table_labels_test.go
  formatters/time_duration_formatting_test.go
  formatters/tree_formatter.go
Labels: formatters

misc
  api/filter_test.go
  api/icons/files.go
  api/icons/icons.go
  api/meta.go
  api/parser.go
  api/pretty_row_test.go
  api/text.go
  cobra_command.go
  examples/file-tree-demo.go
  examples/uber_demo/main.go
  filesystem.go
  formatters/html/html_formatter.go
  formatters/manager.go
  formatters/pretty_formatter.go
  formatters/tree_formatter.go
Labels: none

chore: misc
  api/html.go
  api/human.go
  api/markdown.go
  api/parser.go
  api/styles.go
  api/tailwind/tailwind.go
  api/themes.go
  flags.go
  formatters/filter_integration_test.go
  formatters/html_tooltip_playwright_test.go
  formatters/options.go
  formatters/table.go
  task/options.go
Labels: none

chore: ai refactorings
  ai/agent.go
  ai/api.go
  ai/claude_agent.go
  ai/cost.go
  ai/json_cleanup.go
  ai/llm_agent.go
Labels: none

fix: use interface assertion in NewTypedValue for nested trees
  api/parser.go
  examples/uber_demo/main.go
Labels: none

wip
  api/filter.go
  api/icons/icons.go
  api/meta.go
  api/parse_tags.go
  api/parser.go
  api/table.go
  api/text.go
  api/tree.go
  api/types.go
  examples/uber_demo/main.go
  flags.go
  format.go
  formatters/csv_formatter.go
  formatters/excel.go
  formatters/manager.go
  formatters/markdown_formatter.go
  formatters/parser.go
  formatters/pretty_formatter.go
  formatters/schema.go
  formatters/tree_formatter.go
Labels: none

fix: args handling in clicky.AddCommand
  cobra_command.go
  flags/assignment.go
  flags/binding.go
  flags/parser.go
  flags/types.go
Labels: none

fix: align tree chevrons to top
  formatters/html/tree.css
Labels: none

fix(task): prevent hanging and terminal corruption in task manager
  task/batch.go
  task/manager.go
  task/task.go
Labels: task
