Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

feat(aichat): Add default permission and tool metadata support with canonical mode names
  aichat/approval.go
  aichat/approval_test.go
  aichat/genkit.go
  aichat/models.go
  aichat/models_test.go
  aichat/tool_catalog.go
  aichat/tool_registry.go
  aichat/tool_registry_test.go
Labels: none

fix(task): release runFunc when a task reaches a terminal state
  task/worker.go
  task/worker_release_test.go
Labels: none

claude: task output review phase 1 - fix log display off-by-one, capture drain race, blank-line loss, noColor default, StartGroup race
  api/table_test.go
  task/group_race_test.go
  task/manager.go
  task/manager_color_test.go
  task/manager_output.go
  task/manager_output_test.go
  task/task.go
  task/task_log_display_test.go
Labels: task

fix: Replace fmt.Printf with clicky logger and fix timing middleware edge case
  examples/enitity/webapp/.oxlintrc.json
  examples/enitity/webapp/package.json
  rpc/http/middleware.go
  rpc/http/middleware_test.go
  rpc/serve.go
Labels: none

feat: update model catalog to latest provider tiers
  aichat/agent.go
  aichat/agent_test.go
  aichat/models.go
  aichat/models_test.go
Labels: none

feat: preserve schema field order in markdown formatter output
  formatters/map_input_test.go
  formatters/markdown_formatter.go
Labels: none

feat(entity): add MCPToolHints for tool metadata and annotations
  entity/annotations.go
  entity/builder.go
  entity/command.go
  entity/entity.go
  entity/operation.go
  entity/sub_command.go
  entity/tool_hints.go
  entity/toolgroup_test.go
  entity_aliases.go
Labels: none

chore: update Go module dependencies to latest versions
  aichat/go.mod
  aichat/go.sum
Labels: none

fix(rpc): Fix route deduplication for wildcard parameter name differences
  CONTRIBUTING.md
  rpc/serve.go
  rpc/serve_test.go
Labels: none

chore: add UI and linting dependencies to webapp
  examples/enitity/webapp/pnpm-lock.yaml
Labels: none

feat: add support for hidden flags in CLI and schema generation
  flags/binding.go
  flags/parser.go
  flags/parser_test.go
  flags/types.go
  rpc/converter.go
  rpc/converter_flags_test.go
Labels: none

feat: add oxlint custom rules linting for clicky-ui webapp
  .gitignore
  Makefile
  examples/enitity/webapp/.oxlintrc.json
  examples/enitity/webapp/package.json
  examples/enitity/webapp/pnpm-lock.yaml
  examples/enitity/webapp/pnpm-workspace.yaml
  examples/enitity/webapp/src/App.tsx
  examples/enitity/webapp/src/ChatWidget.tsx
  examples/enitity/webapp/tsconfig.json
  examples/enitity/webapp/vite.config.ts
Labels: none

feat Add HTTP request timing middleware and context utilities
  rpc/http/middleware.go
  rpc/http/middleware_test.go
  rpc/http/timing.go
  rpc/http/timing_test.go
Labels: none

docs(docs): delegate agent workflow guidance to shared instructions
  AGENTS.md
Labels: none

refactor(aichat): centralize model and tool metadata
  aichat/agent.go
  aichat/agent_test.go
  aichat/approval.go
  aichat/approval_test.go
  aichat/genkit.go
  aichat/go.mod
  aichat/go.sum
  aichat/models.go
  aichat/models_test.go
  aichat/server.go
  aichat/strict_tools.go
  aichat/strict_tools_test.go
  aichat/tool_registry.go
  aichat/tool_registry_test.go
  aichat/tools_clicky.go
  aichat/tools_clicky_test.go
  aichat/tools_mcp.go
  mcp/registry.go
Labels: mcp

feat(rpc): expose swagger command executor
  rpc/serve.go
Labels: none

feat(mcp): add MCP tool annotations and clicky meta support
  mcp/registry.go
  mcp/registry_test.go
  rpc/converter.go
  rpc/converter_toolgroup_test.go
Labels: mcp

fix(task): fix data races and render lifecycle for task output
  task/group.go
  task/group_race_test.go
  task/manager.go
  task/manager_lifecycle.go
  task/manager_output_test.go
  task/manager_wait.go
  task/render.go
  task/render_dedupe_test.go
  task/render_hook_test.go
  task/render_restart_test.go
  task/task.go
  task/task_logs_render.go
Labels: task

feat(api): Add streaming table exports and export metadata
  entity/operation.go
  formatters/http/http.go
  formatters/options.go
  formatters/stream.go
  formatters/stream_test.go
  rpc/entities_test.go
  rpc/openapi.go
  rpc/serve.go
  rpc/types.go
Labels: none

feat(api): support semantic columns and structured table values
  api/column.go
  api/column_value.go
  api/column_value_test.go
  api/table.go
  api/table_test.go
  api/types.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
Labels: none

claude: stamp default tool permissions on standard entity verbs
  entity/annotations.go
  entity/builder.go
  entity/entity.go
  entity/toolpermission_test.go
Labels: none

docs(skills): add clicky development guides
  .gitignore
  skills/clicky-tasks/SKILL.md
  skills/clicky-tasks/agents/openai.yaml
  skills/clicky-tasks/references/refactoring-patterns.md
  skills/pretty-printing/SKILL.md
  skills/pretty-printing/agents/openai.yaml
  skills/pretty-printing/references/api-patterns.md
Labels: none

build(aichat): pin captain to f441c766 for unreleased agent API
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  valkey/go.sum
Labels: none

fix: Replace fmt.Printf with clicky logger and fix timing middleware edge case
  examples/enitity/webapp/.oxlintrc.json
  examples/enitity/webapp/package.json
  rpc/http/middleware.go
  rpc/http/middleware_test.go
  rpc/serve.go
Labels: none

feat(rpc): expose swagger command executor
  rpc/serve.go
Labels: none

feat(entity): add MCPToolHints for tool metadata and annotations
  entity/annotations.go
  entity/builder.go
  entity/command.go
  entity/entity.go
  entity/operation.go
  entity/sub_command.go
  entity/tool_hints.go
  entity/toolgroup_test.go
  entity_aliases.go
Labels: none

claude: stamp default tool permissions on standard entity verbs
  entity/annotations.go
  entity/builder.go
  entity/entity.go
  entity/toolpermission_test.go
Labels: none

feat(api): Add streaming table exports and export metadata
  entity/operation.go
  formatters/http/http.go
  formatters/options.go
  formatters/stream.go
  formatters/stream_test.go
  rpc/entities_test.go
  rpc/openapi.go
  rpc/serve.go
  rpc/types.go
Labels: none

refactor(aichat): centralize model and tool metadata
  aichat/agent.go
  aichat/agent_test.go
  aichat/approval.go
  aichat/approval_test.go
  aichat/genkit.go
  aichat/go.mod
  aichat/go.sum
  aichat/models.go
  aichat/models_test.go
  aichat/server.go
  aichat/strict_tools.go
  aichat/strict_tools_test.go
  aichat/tool_registry.go
  aichat/tool_registry_test.go
  aichat/tools_clicky.go
  aichat/tools_clicky_test.go
  aichat/tools_mcp.go
  mcp/registry.go
Labels: mcp

feat(api): support semantic columns and structured table values
  api/column.go
  api/column_value.go
  api/column_value_test.go
  api/table.go
  api/table_test.go
  api/types.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
Labels: none

feat Add HTTP request timing middleware and context utilities
  rpc/http/middleware.go
  rpc/http/middleware_test.go
  rpc/http/timing.go
  rpc/http/timing_test.go
Labels: none

feat(mcp): add MCP tool annotations and clicky meta support
  mcp/registry.go
  mcp/registry_test.go
  rpc/converter.go
  rpc/converter_toolgroup_test.go
Labels: mcp

fix(rpc): Fix route deduplication for wildcard parameter name differences
  CONTRIBUTING.md
  rpc/serve.go
  rpc/serve_test.go
Labels: none

fix(task): release runFunc when a task reaches a terminal state
  task/worker.go
  task/worker_release_test.go
Labels: none

chore: add UI and linting dependencies to webapp
  examples/enitity/webapp/pnpm-lock.yaml
Labels: none

feat: preserve schema field order in markdown formatter output
  formatters/map_input_test.go
  formatters/markdown_formatter.go
Labels: none

docs(docs): delegate agent workflow guidance to shared instructions
  AGENTS.md
Labels: none

build(aichat): pin captain to f441c766 for unreleased agent API
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  valkey/go.sum
Labels: none

feat: add oxlint custom rules linting for clicky-ui webapp
  .gitignore
  Makefile
  examples/enitity/webapp/.oxlintrc.json
  examples/enitity/webapp/package.json
  examples/enitity/webapp/pnpm-lock.yaml
  examples/enitity/webapp/pnpm-workspace.yaml
  examples/enitity/webapp/src/App.tsx
  examples/enitity/webapp/src/ChatWidget.tsx
  examples/enitity/webapp/tsconfig.json
  examples/enitity/webapp/vite.config.ts
Labels: none

feat: add support for hidden flags in CLI and schema generation
  flags/binding.go
  flags/parser.go
  flags/parser_test.go
  flags/types.go
  rpc/converter.go
  rpc/converter_flags_test.go
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
