Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

fix(rpc): improve command executor robustness and path sanitization
  cobra_command.go
  rpc/serve.go
  rpc/serve_test.go
  task/task.go
Labels: task

fix(ci): trigger release directly on push to main
  .github/workflows/release.yml
Labels: none

fix(ci): trigger release directly on push to main
  .github/workflows/release.yml
Labels: none

chore(release): 1.21.2 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  ac01c53c5758b0082abda5ce092a98f8a3e7f349
Labels: none

fix(ci): use semantic-release-action so step outputs are populated
  .github/workflows/release.yml
Labels: none

fix(ci): use semantic-release-action so step outputs are populated
  .github/workflows/release.yml
Labels: none

chore(release): 1.21.3 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  42a243c055589b13f01e71815cd7b1c74106da9c
Labels: none

fix(api,text): Fix language normalization and style preservation in code blocks Improve code block rendering and text styling:
  api/code.go
  api/code_test.go
  api/meta.go
  api/text.go
  api/text_test.go
  go.sum
  task/render_test.go
  task/task.go
Labels: task

Apply suggestions from code review
  api/text.go
Labels: none

fix(api,text): Fix language normalization and style preservation in code blocks Improve code block rendering and text styling: (#97)
  api/code.go
  api/code_test.go
  api/meta.go
  api/text.go
  api/text_test.go
  go.sum
  task/render_test.go
  task/task.go
Labels: task

chore(release): 1.21.4 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  9bfc11079f7451cb1aaa23c7ccc6935302874974
Labels: none

chore(release): 1.21.5 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  b073cb48667724883718bb4658749bf872d649bc
Labels: none

feat(prompt): Add interactive prompt APIs with select, multi-select, and text input Introduce comprehensive prompt functionality for interactive terminal UIs:
  internal/gumchoose/LICENSE
  internal/gumchoose/choose.go
  internal/gumchoose/choose_test.go
  prompt.go
  prompt_terminal_ioctl_darwin_test.go
  prompt_terminal_ioctl_linux_test.go
  prompt_test.go
Labels: none

fix: address PR #99 test failures and CodeRabbit review
  .github/workflows/release.yml
  api/labelbadge.go
  e2e_integration_test.go
  examples/go.mod
  examples/go.sum
  format_callbacks.go
  log.go
  prompt_test.go
  rpc/converter.go
  rpc/openapi.go
  task/force_interactive_test.go
  task/manager.go
  task/manager_lifecycle.go
  text/tokenizer.go
Labels: none

feat(prompt): Add interactive prompt APIs with select, multi-select, and text input Introduce comprehensive prompt functionality for interactive terminal UIs:
  internal/gumchoose/LICENSE
  internal/gumchoose/choose.go
  internal/gumchoose/choose_test.go
  prompt.go
  prompt_terminal_ioctl_darwin_test.go
  prompt_terminal_ioctl_linux_test.go
  prompt_test.go
Labels: none

fix: address PR #99 test failures and CodeRabbit review
  .github/workflows/release.yml
  api/labelbadge.go
  e2e_integration_test.go
  examples/go.mod
  examples/go.sum
  format_callbacks.go
  log.go
  prompt_test.go
  rpc/converter.go
  rpc/openapi.go
  task/force_interactive_test.go
  task/manager.go
  task/manager_lifecycle.go
  text/tokenizer.go
Labels: none

chore(release): 1.21.6 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  ff849e93dba51693e0b4fbed20a20c0fa38bafb3
Labels: none

feat: support windows
  prompt.go
  prompt_cursor_unix.go
  prompt_cursor_windows.go
  prompt_test.go
  task/terminal_test.go
Labels: none

feat: support windows
  prompt.go
  prompt_cursor_unix.go
  prompt_cursor_windows.go
  prompt_test.go
  task/terminal_test.go
Labels: none

chore(release): 1.21.7 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  d0c18fe79a60605f69f49a0b8133fbd2b64d3959
Labels: none

feat(entity,rpc,openapi): Add typed response types and builder API for entities
  .gitignore
  cobra_command.go
  entity.go
  entity_builder.go
  entity_filters_test.go
  examples/enitity/Taskfile.yaml
  examples/enitity/main.go
  examples/enitity/webapp/index.html
  examples/enitity/webapp/package.json
  examples/enitity/webapp/pnpm-lock.yaml
  examples/enitity/webapp/pnpm-workspace.yaml
  examples/enitity/webapp/tsconfig.json
  response_meta.go
  rpc/assets/index.html
  rpc/converter.go
  rpc/entities_test.go
  rpc/filter_lookup_test.go
  rpc/openapi.go
  rpc/openapi_reflect.go
  rpc/openapi_test.go
  rpc/serve.go
  rpc/serve_test.go
  rpc/types.go
  sub_command_test.go
Labels: none

chore(gitignore): ignore entity webapp dist directory
  .gitignore
Labels: none

feat(entity): add hidden _id column to wrapped entities
  api/column.go
  entity.go
  entity_test.go
  examples/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  formatters/html_react_formatter.go
  go.sum
Labels: none

feat(entity): Add explicit HTTP method override for entity operations
  cobra_command.go
  entity.go
  entity_annotations.go
  rpc/converter.go
  rpc/entities_test.go
  sub_command.go
Labels: none

feat(api): add stack trace parsing and rendering with source resolution
  ai/cache/cache.go
  api/stacktrace.go
  api/stacktrace_java.go
  api/stacktrace_test.go
  entity.go
  entity_filters_test.go
  flags/assignment.go
  format.go
  go.sum
  multi_filter.go
  rpc/openapi_reflect.go
Labels: none

feat(task): Add stderr gating to prevent corruption during interactive render
  task/manager_lifecycle.go
  task/stderr_gate.go
  task/stderr_gate_test.go
Labels: none

docs(api): replace example package names with generic examples
  api/stacktrace_java.go
  api/stacktrace_test.go
  format.go
Labels: none

chore(release): 1.21.8 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  8479a4f3c0650bef02c868d71ca99d2e57ea5b5a
Labels: none

feat(api): add stack trace parsing and rendering with source resolution
  go.sum
Labels: none

feat(formatters): add StackTrace rendering support to HTML formatters
  formatters/html_formatter.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
Labels: none

feat(entity): add hidden _id column to wrapped entities
  go.sum
Labels: none

feat(mcp): add SSE transport, tools command, and multi-client install support
  examples/enitity/main.go
  go.sum
  mcp/builder_test.go
  mcp/command.go
  mcp/command_test.go
  mcp/install.go
  mcp/install_test.go
  mcp/registry.go
  mcp/registry_test.go
  mcp/server.go
  mcp/sse_test.go
Labels: mcp

feat(examples): Add syntax highlighting and stack trace rendering support
  examples/enitity/webapp/package.json
  examples/enitity/webapp/pnpm-lock.yaml
  examples/enitity/webapp/pnpm-workspace.yaml
  examples/enitity/webapp/src/App.tsx
  examples/enitity/webapp/src/index.css
  examples/enitity/webapp/src/main.tsx
  examples/enitity/webapp/tsconfig.json
  examples/enitity/webapp/vite.config.ts
  examples/uber_demo/go.sum
  examples/uber_demo/main.go
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
