Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

test(mcp): Isolate MCP tests from user configuration
  mcp/client_command_test.go
  mcp/client_e2e_test.go
  mcp/client_oauth_test.go
  mcp/client_registry_test.go
  mcp/client_run_test.go
Labels: mcp

refactor(aichat): Use captain catalog and remove MCP tool support
  aichat/cost.go
  aichat/cost_test.go
  aichat/models_test.go
  aichat/server.go
  aichat/tool_catalog.go
  aichat/tools_mcp.go
Labels: none

build(deps): Update Go module dependencies
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  valkey/go.sum
Labels: none

feat: add toon support
  flags.go
  formatters/manager.go
  formatters/manager_textable_test.go
  formatters/options.go
  formatters/toon_formatter.go
  formatters/toon_test.go
  go.mod
  go.sum
Labels: none

chore: update gomod
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
Labels: none

feat: add toon support (#178)
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  flags.go
  formatters/manager.go
  formatters/manager_textable_test.go
  formatters/options.go
  formatters/toon_formatter.go
  formatters/toon_test.go
  go.mod
  go.sum
Labels: none

chore(release): 1.21.56 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  2cdba2bea70291c10480d7fd52a9484d5a66de48
Labels: none

chore: update dependencies across multiple modules
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/enitity/webapp/package.json
  examples/enitity/webapp/pnpm-lock.yaml
  examples/enitity/webapp/pnpm-workspace.yaml
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
  valkey/go.mod
  valkey/go.sum
Labels: none

refactor: refactor captain chat settings to use runtime profiles
  examples/enitity/internal/entitydemo/serve_ui.go
  examples/enitity/internal/entitydemo/serve_ui_ginkgo_test.go
  examples/enitity/webapp/dist/index.html
  examples/enitity/webapp/src/ChatWidget.tsx
  examples/enitity/webapp/src/api.ts
  examples/enitity/webapp/vite.config.ts
Labels: none

refactor(exec): split exec into focused modules with proper context cancellation
  exec/environment.go
  exec/environment_test.go
  exec/exec.go
  exec/exec_test.go
  exec/process.go
  exec/process_control.go
  exec/process_control_test.go
  exec/shell_detection_test.go
  exec/supervise_loop.go
  exec/supervised.go
  exec/supervised_background_ginkgo_test.go
  exec/supervised_task.go
  exec/supervised_task_ginkgo_test.go
  exec/supervised_task_run.go
  exec/wrapper.go
  exec/wrapper_test.go
Labels: none

feat(task): Add background task support to prevent wait deadlocks
  task/managed_run.go
  task/manager_wait.go
  task/manager_wait_background_test.go
  task/task.go
  task/worker.go
Labels: task

refactor: refactor verb tool hints to use safety facts instead of permission defaults
  entity/annotations.go
  flags/annotations.go
  rpc/converter.go
Labels: none

feat: add server-side sorting support for entity lists and tables
  api/column.go
  api/meta.go
  api/parser.go
  api/sort.go
  api/sort_test.go
  api/types.go
  entity/builder.go
  entity/dynamic_spec.go
  entity/entity.go
  entity/lookup_response.go
  entity/lookup_time_enabled_test.go
  entity/operation.go
  entity/sort.go
  entity/sort_test.go
  entity_aliases.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
  rpc/sort_test.go
Labels: none

refactor(aichat): refactor tool permission API from ToolMode to ToolPolicy
  aichat/adapter_ginkgo_test.go
  aichat/tools_clicky.go
  aichat/tools_clicky_permission_test.go
Labels: none

test: Remove tool permission test files
  aichat/tools_clicky_permission_test.go
  entity/toolpermission_test.go
Labels: none

refactor: improve table rendering and process lifecycle management
  api/column.go
  api/column_test.go
  api/meta.go
  exec/process.go
  exec/supervise_loop.go
  exec/supervised_task_ginkgo_test.go
  exec/supervised_task_run.go
  exec/wrapper.go
  go.mod
  rpc/openapi.go
Labels: none

refactor(api): refactor table cell handling for hidden columns and filtering
  api/column_test.go
  api/meta.go
  exec/wrapper.go
Labels: none

chore: update dependencies across multiple modules
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/enitity/webapp/package.json
  examples/enitity/webapp/pnpm-lock.yaml
  examples/enitity/webapp/pnpm-workspace.yaml
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
  valkey/go.mod
  valkey/go.sum
Labels: none

refactor: improve table rendering and process lifecycle management
  api/column.go
  api/column_test.go
  api/meta.go
  exec/process.go
  exec/supervise_loop.go
  exec/supervised_task_ginkgo_test.go
  exec/supervised_task_run.go
  exec/wrapper.go
  go.mod
  rpc/openapi.go
Labels: none

refactor(aichat): refactor tool permission API from ToolMode to ToolPolicy
  aichat/adapter_ginkgo_test.go
  aichat/tools_clicky.go
  aichat/tools_clicky_permission_test.go
Labels: none

feat(task): Add background task support to prevent wait deadlocks
  task/managed_run.go
  task/manager_wait.go
  task/manager_wait_background_test.go
  task/task.go
  task/worker.go
Labels: task

refactor: refactor captain chat settings to use runtime profiles
  examples/enitity/internal/entitydemo/serve_ui.go
  examples/enitity/internal/entitydemo/serve_ui_ginkgo_test.go
  examples/enitity/webapp/dist/index.html
  examples/enitity/webapp/src/ChatWidget.tsx
  examples/enitity/webapp/src/api.ts
  examples/enitity/webapp/vite.config.ts
Labels: none

refactor(exec): split exec into focused modules with proper context cancellation
  exec/environment.go
  exec/environment_test.go
  exec/exec.go
  exec/exec_test.go
  exec/process.go
  exec/process_control.go
  exec/process_control_test.go
  exec/shell_detection_test.go
  exec/supervise_loop.go
  exec/supervised.go
  exec/supervised_background_ginkgo_test.go
  exec/supervised_task.go
  exec/supervised_task_ginkgo_test.go
  exec/supervised_task_run.go
  exec/wrapper.go
  exec/wrapper_test.go
Labels: none

feat: add server-side sorting support for entity lists and tables
  api/column.go
  api/meta.go
  api/parser.go
  api/sort.go
  api/sort_test.go
  api/types.go
  entity/builder.go
  entity/dynamic_spec.go
  entity/entity.go
  entity/lookup_response.go
  entity/lookup_time_enabled_test.go
  entity/operation.go
  entity/sort.go
  entity/sort_test.go
  entity_aliases.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
  rpc/sort_test.go
Labels: none

refactor(api): refactor table cell handling for hidden columns and filtering
  api/column_test.go
  api/meta.go
  exec/wrapper.go
Labels: none

test: Remove tool permission test files
  aichat/tools_clicky_permission_test.go
  entity/toolpermission_test.go
Labels: none

refactor: refactor verb tool hints to use safety facts instead of permission defaults
  entity/annotations.go
  flags/annotations.go
  rpc/converter.go
Labels: none

chore(release): 1.21.57 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  a7664256cbcc83a19d25815085575ed8a3d0ea4b
Labels: none

fix(entity): stop deriving safety hints from the entity verb
  entity/annotations.go
  entity/toolsafety_test.go
  mcp/toolsemantics_test.go
Labels: mcp

refactor(aichat): hand captain the operation instead of flattening it
  aichat/adapter_ginkgo_test.go
  aichat/go.mod
  aichat/go.sum
  aichat/handoff_ginkgo_test.go
  aichat/tools_clicky.go
Labels: none

feat(task): Add stop control to task groups without explicit controllers
  task/control.go
  task/managed_run_ginkgo_test.go
  task/snapshot.go
Labels: none

feat(entity): Add comprehensive error responses and action lookup support
  entity/action_lookup.go
  entity/action_lookup_test.go
  entity/annotations.go
  entity/bulk_action_context_test.go
  entity/entity.go
  entity/error_sanitize.go
  entity/errors.go
  entity/errors_test.go
  entity/filters_test.go
  entity/paging.go
  entity/paging_test.go
  entity/toolsafety_test.go
  entity_aliases.go
Labels: none

feat(api): Add structured error responses with OpenTelemetry tracing
  rpc/action_error_wire_test.go
  rpc/converter.go
  rpc/datafunc_wire_test.go
  rpc/dynamic_family.go
  rpc/dynamic_family_test.go
  rpc/entities.go
  rpc/entities_test.go
  rpc/error_handling_ginkgo_test.go
  rpc/errors.go
  rpc/escaped_path_ginkgo_test.go
  rpc/execution_http.go
  rpc/execution_routes.go
  rpc/execution_routes_review_test.go
  rpc/executor.go
  rpc/filter_lookup_test.go
  rpc/openapi.go
  rpc/openapi_test.go
  rpc/paged.go
  rpc/paged_regression_test.go
  rpc/paged_test.go
  rpc/response_format.go
  rpc/serve.go
  rpc/serve_command.go
  rpc/serve_test.go
Labels: none

feat(api): add markdown dialect support with options propagation
  api/admonition.go
  api/blocks.go
  api/collapsed.go
  api/html.go
  api/keyed.go
  api/link.go
  api/markdown.go
  api/markdown_dialect_test.go
  api/markdown_options.go
  api/stacktrace.go
  api/tailwind/tailwind.go
  api/text.go
Labels: none

feat(flags): add enum tag support for closed-set flag values
  flags/binding.go
  flags/parser.go
  flags/types.go
Labels: none

refactor(aichat): Move permissions to captain, carry whole operations
  aichat/adapter_ginkgo_test.go
  aichat/handoff_ginkgo_test.go
  aichat/tools_clicky.go
  mcp/toolsemantics_test.go
Labels: mcp

refactor(markdown): split markdown rendering into focused modules
  markdown/clicky_document.go
  markdown/document.go
  markdown/markdown_suite_test.go
  markdown/markdown_test.go
  markdown/render_ginkgo_test.go
  markdown/table.go
  markdown/terminal.go
Labels: none

perf(task): fetch finished external run snapshots once per stream
  task/managed_run_ginkgo_test.go
  task/source.go
  task/sse.go
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
