Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

claude: task output review phase 1 - fix log display off-by-one, capture drain race, blank-line loss, noColor default, StartGroup race
  api/table_test.go
  task/group_race_test.go
  task/manager.go
  task/manager_color_test.go
  task/manager_output.go
  task/manager_output_test.go
  task/task.go
  task/task_log_display_test.go
Labels: task

fix(task): fix data races and render lifecycle for task output
  task/group.go
  task/group_race_test.go
  task/manager.go
  task/manager_lifecycle.go
  task/manager_output_test.go
  task/manager_wait.go
  task/render.go
  task/render_dedupe_test.go
  task/render_hook_test.go
  task/render_restart_test.go
  task/task.go
  task/task_logs_render.go
Labels: task

feat: update model catalog to latest provider tiers
  aichat/agent.go
  aichat/agent_test.go
  aichat/models.go
  aichat/models_test.go
Labels: none

chore: update Go module dependencies to latest versions
  aichat/go.mod
  aichat/go.sum
Labels: none

docs(skills): add clicky development guides
  .gitignore
  skills/clicky-tasks/SKILL.md
  skills/clicky-tasks/agents/openai.yaml
  skills/clicky-tasks/references/refactoring-patterns.md
  skills/pretty-printing/SKILL.md
  skills/pretty-printing/agents/openai.yaml
  skills/pretty-printing/references/api-patterns.md
Labels: none

feat(aichat): Add default permission and tool metadata support with canonical mode names
  aichat/approval.go
  aichat/approval_test.go
  aichat/genkit.go
  aichat/models.go
  aichat/models_test.go
  aichat/tool_catalog.go
  aichat/tool_registry.go
  aichat/tool_registry_test.go
Labels: none

chore(release): 1.21.38 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  e27f49bf95d06e21acad4a3821f9110316c95d19
Labels: none

fix(deps): update Excelize to v2.11.0
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
Labels: none

chore(deps): tidy Go modules
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.sum
  go.sum
Labels: none

go mod tidy
  valkey/go.mod
  valkey/go.sum
Labels: none

go mod tidy
  valkey/go.mod
  valkey/go.sum
Labels: none

chore(deps): tidy Go modules
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.sum
  go.sum
Labels: none

fix(deps): update Excelize to v2.11.0
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
Labels: none

chore(release): 1.21.39 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  8bb2aa601beea849fbe5d8aab0c16677ac951ca2
Labels: none

fix(ci): add least-privilege permissions to the openapi workflow job
  .github/workflows/gavel.yml
Labels: none

fix(examples): bump examples/enitity clicky dep to v1.21.39
  examples/enitity/go.mod
Labels: none

fix(ci): add least-privilege permissions to the openapi workflow job (#148)
  .github/workflows/gavel.yml
  examples/enitity/go.mod
Labels: none

chore(release): 1.21.40 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  12120a21fe57cf5bd67327b899a01c7fdeefe929
Labels: none

chore: go mod tidy on examples/entity
  examples/enitity/go.mod
Labels: none

chore: go mod tidy on examples/entity
  examples/enitity/go.mod
Labels: none

chore(release): 1.21.41 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  98f1e274dbb5639ba7c74ca5303d10583b09b4d4
Labels: none

chore(deps): update flanksource go dependencies
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
Labels: none

fix: genkit upgrade
  aichat/genkit.go
  aichat/models.go
  aichat/models_test.go
  aichat/server.go
Labels: none

chore(deps): update flanksource go dependencies
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
Labels: none

fix: genkit upgrade
  aichat/genkit.go
  aichat/models.go
  aichat/models_test.go
  aichat/server.go
Labels: none

chore(release): 1.21.42 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  f4cfc37af13967510c4f8f28fae0f98a0f21be18
Labels: none

chore(release): 1.21.43 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  47f25d9bdc0f5c73707b714c64c61ef3240f72c8
Labels: none

chore(release): 1.21.44 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  71a76f0db94cfbf23ed2387863949f83a35bf03c
Labels: none

fix(mcp): harden client input and rendering
  mcp/client_command.go
  mcp/client_command_test.go
  mcp/client_run.go
  mcp/client_run_test.go
Labels: mcp

feat(mcp): add external MCP client commands
  go.mod
  go.sum
  mcp/client_cache.go
  mcp/client_command.go
  mcp/client_dial.go
  mcp/client_e2e_test.go
  mcp/client_flags.go
  mcp/client_flags_test.go
  mcp/client_install.go
  mcp/client_install_test.go
  mcp/client_registry.go
  mcp/client_registry_test.go
  mcp/client_run.go
  mcp/client_run_test.go
  mcp/command.go
  mcp/install.go
  mcp/testdata/stdioserver/main.go
  task/task.go
Labels: mcp, task

feat: OIDC support
  go.mod
  go.sum
  mcp/client_cache.go
  mcp/client_command.go
  mcp/client_command_test.go
  mcp/client_dial.go
  mcp/client_e2e_test.go
  mcp/client_install.go
  mcp/client_oauth.go
  mcp/client_oauth_test.go
  mcp/client_registry.go
  mcp/client_registry_test.go
  mcp/command.go
Labels: mcp

fix(mcp): expose remote tools as Cobra commands
  mcp/client_e2e_test.go
  mcp/client_flags.go
  mcp/client_run.go
  mcp/client_run_test.go
Labels: mcp

refactor(mcp): remove shortcut installation modes
  mcp/client_e2e_test.go
  mcp/client_flags.go
  mcp/client_install.go
  mcp/client_install_test.go
  mcp/client_run.go
  mcp/client_run_test.go
  mcp/command.go
  mcp/install.go
Labels: mcp

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
