Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"

chore: update dependencies
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
Labels: none

refactor: improve CSV/HTML formatter handling of empty data
  formatters/csv_formatter.go
  formatters/html_formatter.go
  formatters/manager.go
Labels: none

fix: use TryTypedValue for generic interface handling in struct fields
  api/column.go
  api/column_test.go
  api/meta.go
  api/meta_test.go
  api/parser.go
  examples/uber_demo/main.go
  formatters/parser.go
Labels: none

chore: remove pdf dependencies
  api/tailwind/alignment.go
  api/tailwind/alignment_test.go
  api/tailwind/parsers_test.go
  examples/go.mod
  examples/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  formatters/pdf/unicode_test.go
  formatters/pdf/utils_test.go
  go.mod
  go.sum
Labels: none

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  8c10f0a36114d642e17f9e221704d2a48aef9a55
Labels: none

chore: code review fixes
  api/column_test.go
  api/meta.go
  api/parser.go
  api/text.go
  formatters/options.go
  formatters/parser.go
  formatters/reflect.go
  formatters/tests/sorting_test.go
  formatters/tests/tree_test.go
  task/manager.go
  task/model.go
  task/render_test.go
Labels: none

chore: code review fixes
  task/model.go
Labels: none

chore: code review fixes (#75)
  api/column_test.go
  api/meta.go
  api/parser.go
  api/text.go
  formatters/options.go
  formatters/parser.go
  formatters/reflect.go
  formatters/tests/sorting_test.go
  formatters/tests/tree_test.go
  task/manager.go
  task/model.go
  task/render_test.go
Labels: none

chore(release): 1.16.1 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  edcffadb8d12db7a209f6ceb5fd706a910c4d0b0
Labels: none

refactor: rename TableProvider.Rows() to Row() for clarity
  api/column.go
  api/column_test.go
  api/meta_test.go
  examples/uber_demo/main.go
Labels: none

chore: misc formatting fixes
  formatters/manager.go
  formatters/options.go
  formatters/parser.go
  formatters/reflect.go
  formatters/tests/formatters_test.go
  formatters/tests/map_fields_test.go
  formatters/tests/parser_test.go
  formatters/tests/sorting_test.go
  formatters/tests/tree_test.go
Labels: formatters

refactor: migrate task rendering to bubbletea
  task/manager.go
  task/model.go
  task/render_test.go
Labels: none

fix: use TryTypedValue for generic interface handling in struct fields
  api/column.go
  api/column_test.go
  api/meta.go
  api/meta_test.go
  api/parser.go
  examples/uber_demo/main.go
Labels: none

chore: fix tests
  task/render_test.go
Labels: none

refactor: simplify Tree/Table options from *bool to bool
  formatters/manager.go
  formatters/options.go
  formatters/parser.go
Labels: none

test: update formatter tests for date format and options changes
  formatters/tests/formatters_test.go
  formatters/tests/map_fields_test.go
  formatters/tests/parser_test.go
Labels: formatters

chore: update dependencies
  examples/uber_demo/go.sum
  go.sum
Labels: none

fix: deduplicate styles in Text.Styles() method
  api/text.go
Labels: none

fix: prevent terminal corruption on shutdown/panic
  shutdown/shutdown.go
  task/manager.go
Labels: none

fix: prevent terminal corruption on shutdown/panic
  shutdown/shutdown.go
  task/manager.go
Labels: none

chore(release): 1.16.2 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  2e43988b1015578f8034586dcc821a0c4af1861e
Labels: none

refactor(task): split manager.go and improve terminal safety
  api/themes.go
  examples/go.mod
  examples/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
  shutdown/shutdown.go
  task/doc.go
  task/manager.go
  task/manager_lifecycle.go
  task/manager_output.go
  task/manager_wait.go
  task/model.go
  task/render.go
  task/render_test.go
  task/task.go
  task/terminal_ioctl_darwin_test.go
  task/terminal_ioctl_linux_test.go
  task/terminal_test.go
  task/testdata/terminal_test_helper.go
  task/worker.go
Labels: task

feat(formatters): add static HTML rendering for PDF output
  api/meta.go
  api/table.go
  api/tree_html.go
  exec/exec.go
  formatters/html/pdf.css
  formatters/html_formatter.go
  formatters/html_pdf_formatter.go
  formatters/manager.go
  formatters/tests/html_formatter_test.go
  go.mod
Labels: none

refactor(task): split manager.go and improve terminal safety
  api/themes.go
  examples/go.mod
  examples/go.sum
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  go.mod
  go.sum
  shutdown/shutdown.go
  task/doc.go
  task/manager.go
  task/manager_lifecycle.go
  task/manager_output.go
  task/manager_wait.go
  task/model.go
  task/render.go
  task/render_test.go
  task/task.go
  task/terminal_ioctl_darwin_test.go
  task/terminal_ioctl_linux_test.go
  task/terminal_test.go
  task/testdata/terminal_test_helper.go
  task/worker.go
Labels: task

feat(formatters): add static HTML rendering for PDF output
  api/meta.go
  api/table.go
  api/tree_html.go
  exec/exec.go
  formatters/html/pdf.css
  formatters/html_formatter.go
  formatters/html_pdf_formatter.go
  formatters/manager.go
  formatters/tests/html_formatter_test.go
  go.mod
Labels: none

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  a4e4244f746b477515223f2f5b8805f2e8b97a95
Labels: none

feat(formatters): add static HTML rendering for PDF output
  api/tree_html.go
  formatters/html/pdf.css
  formatters/html_formatter.go
  formatters/manager.go
  formatters/tests/html_formatter_test.go
Labels: none

refactor(task): split manager.go and improve terminal safety
  go.mod
  shutdown/shutdown.go
Labels: none

fix: nil handling in pretty printers
  api/human.go
  api/human_test.go
  api/parser.go
  api/parser_test.go
  api/tree_html.go
  api/types.go
  examples/uber_demo/main.go
  flags.go
  formatters/formatters_suite_test.go
  formatters/html/pdf.css
  formatters/html_formatter.go
  formatters/manager.go
  formatters/parser.go
  formatters/parser_test.go
  formatters/reflect.go
  formatters/reflect_test.go
  formatters/tests/html_formatter_test.go
  formatters/tests/nil_handling_csv_test.go
  go.mod
Labels: formatters

chore: go mod tidy
  go.mod
Labels: none

feat(formatters): add static HTML rendering for PDF output
  api/tree_html.go
  formatters/html/pdf.css
  formatters/html_formatter.go
  formatters/manager.go
  formatters/tests/html_formatter_test.go
Labels: none

refactor(task): split manager.go and improve terminal safety
  go.mod
  shutdown/shutdown.go
Labels: none

chore: go mod tidy
  go.mod
Labels: none

fix: nil handling in pretty printers
  api/human.go
  api/human_test.go
  api/parser.go
  api/parser_test.go
  api/tree_html.go
  api/types.go
  examples/uber_demo/main.go
  flags.go
  formatters/formatters_suite_test.go
  formatters/html/pdf.css
  formatters/html_formatter.go
  formatters/manager.go
  formatters/parser.go
  formatters/parser_test.go
  formatters/reflect.go
  formatters/reflect_test.go
  formatters/tests/html_formatter_test.go
  formatters/tests/nil_handling_csv_test.go
  go.mod
Labels: formatters

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  15b1c8a86b793022ae8961fb296cf392451cbf3e
Labels: none
