Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

WAL: 1 events from 9969d04d
  events/2026/07/13/10552bf9629201aea6b50a9f22eca436e97483cc4267277c1289bf8cfe330314.bin
  events/2026/07/13/7822e5b74f6cf0906824baab6140db9752fbd83f37dc58f3730ba609dd5b29be.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/11bf643012174d039abd8e7e5a132d3238001b2887b6f7344cab055e8d3a0271.bin
  events/2026/07/13/7822e5b74f6cf0906824baab6140db9752fbd83f37dc58f3730ba609dd5b29be.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/664d3ed17bdec20db33c169989039d60cc46d5d8c8e61fb220e222413656bf7d.bin
  events/2026/07/13/7c76c361e96ee673a542408c4256b5f28dc100bd34506ec39b90330936ef89b3.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/2e65eb27f3c51d0a1cf5d093bb87f36dad7919fb171dd24846a382109127aa4e.bin
  events/2026/07/13/d349e0580cb58cdeb292e9140dd99f2b6ee76241aeef32a215bc6deb03ac3bf8.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/6f70aa118df92abceac8657190c8847fab569f333a568d2d9e7ccc1c4717752f.bin
  events/2026/07/13/d9995543a60aa733c6964a2aa3e8b407b1dfed605806b1695e93081f3c18b00f.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/88fc3eb611dab0463e1fa5d26e721a0417a9a45bf0ce10dbb9eb77bf55818c3e.bin
  events/2026/07/13/d418ade720e7baf0f890c9e33dd016e9793dc477492f2b282a530eff410feb63.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/55462e487bd660c550b6d910cb8d202010e0f8d0895f149a3fa6821e4508a4f4.bin
  events/2026/07/13/7b6ab018c45a7a4282b18d06d491837fdcbec14e09bd574996fc9fbcfd5201c9.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/2e65eb27f3c51d0a1cf5d093bb87f36dad7919fb171dd24846a382109127aa4e.bin
  events/2026/07/13/6e9287e4b627556b132c99dccc21b3d7d69f79714aea0e484c29e07b26796ccd.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/4184e767c0e25f36c403dfff77e25853dcc25b98f2077366608fa49b525d4edb.bin
  events/2026/07/13/7739110911ce9b08be98295b9dd28258e557025a85bccf2ed30b540e6361816c.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/664d3ed17bdec20db33c169989039d60cc46d5d8c8e61fb220e222413656bf7d.bin
  events/2026/07/13/c8d898c6d749b103fcbdc34ac01045a8cd4c7ddc7e0db9ccd15d530104ee6daf.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/11b81f938018875d4a81fa9d2a5afbf4924f81a69a4f4a191425d6459a02599a.bin
  events/2026/07/13/d418ade720e7baf0f890c9e33dd016e9793dc477492f2b282a530eff410feb63.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/1b1afd07f91fdeffc3142d422804404bb3b81c7b0fc921a6afbc7a3f240cae63.bin
  events/2026/07/13/88fc3eb611dab0463e1fa5d26e721a0417a9a45bf0ce10dbb9eb77bf55818c3e.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/1f5d85248846478a02ea3601a8728b878e2fe09a4bbedb72629ef72ee9434a81.bin
  events/2026/07/13/a34dbeded11cd624a7e6c52e36c1d933970045a574c4b3b8d05ef1e045e5e2e2.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/7be0f6a0f0930dac89c7ec65f6b1ee8f1076219b2076dab7fbb6d109484d9431.bin
  events/2026/07/13/a241e402724b5e581a9267cd65767687316ef48ad34fc325fcc11fbc8f9fc3dc.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/7739110911ce9b08be98295b9dd28258e557025a85bccf2ed30b540e6361816c.bin
  events/2026/07/13/bef15456ded19ba5090703276e3983b60b5eeea627b1ddab90b07770fde1fe51.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/6d69114143a47a71027f9772b8346962c8c54e5d7586ca9035b7dcb47e977a13.bin
  events/2026/07/13/bb65e49b95638374887018a575527dfa257f5c2c6f1cb89079e3c1894826f789.bin
  meta.json
Labels: none

WAL: 1 events from 9969d04d
  events/2026/07/13/b51b15aebc478e6d5bbcf930c4e695a8559f969c9cd7a5b3ac26813b9f08d634.bin
  events/2026/07/13/bb65e49b95638374887018a575527dfa257f5c2c6f1cb89079e3c1894826f789.bin
  meta.json
Labels: none

fix(rpc): Fix route deduplication for wildcard parameter name differences
  CONTRIBUTING.md
  rpc/serve.go
  rpc/serve_test.go
Labels: none

feat(mcp): add MCP tool annotations and clicky meta support
  mcp/registry.go
  mcp/registry_test.go
  rpc/converter.go
  rpc/converter_toolgroup_test.go
Labels: mcp

fix: Replace fmt.Printf with clicky logger and fix timing middleware edge case
  examples/enitity/webapp/.oxlintrc.json
  examples/enitity/webapp/package.json
  rpc/http/middleware.go
  rpc/http/middleware_test.go
  rpc/serve.go
Labels: none

feat Add HTTP request timing middleware and context utilities
  rpc/http/middleware.go
  rpc/http/middleware_test.go
  rpc/http/timing.go
  rpc/http/timing_test.go
Labels: none

fix(task): release runFunc when a task reaches a terminal state
  task/worker.go
  task/worker_release_test.go
Labels: none

feat(aichat): Add default permission and tool metadata support with canonical mode names
  aichat/approval.go
  aichat/approval_test.go
  aichat/genkit.go
  aichat/models.go
  aichat/models_test.go
  aichat/tool_catalog.go
  aichat/tool_registry.go
  aichat/tool_registry_test.go
Labels: none

chore: add UI and linting dependencies to webapp
  examples/enitity/webapp/pnpm-lock.yaml
Labels: none

feat: add support for hidden flags in CLI and schema generation
  flags/binding.go
  flags/parser.go
  flags/parser_test.go
  flags/types.go
  rpc/converter.go
  rpc/converter_flags_test.go
Labels: none

feat: update model catalog to latest provider tiers
  aichat/agent.go
  aichat/agent_test.go
  aichat/models.go
  aichat/models_test.go
Labels: none

chore: update Go module dependencies to latest versions
  aichat/go.mod
  aichat/go.sum
Labels: none

feat: preserve schema field order in markdown formatter output
  formatters/map_input_test.go
  formatters/markdown_formatter.go
Labels: none

fix(task): fix data races and render lifecycle for task output
  task/group.go
  task/group_race_test.go
  task/manager.go
  task/manager_lifecycle.go
  task/manager_output_test.go
  task/manager_wait.go
  task/render.go
  task/render_dedupe_test.go
  task/render_hook_test.go
  task/render_restart_test.go
  task/task.go
  task/task_logs_render.go
Labels: task

claude: task output review phase 1 - fix log display off-by-one, capture drain race, blank-line loss, noColor default, StartGroup race
  api/table_test.go
  task/group_race_test.go
  task/manager.go
  task/manager_color_test.go
  task/manager_output.go
  task/manager_output_test.go
  task/task.go
  task/task_log_display_test.go
Labels: task

feat(entity): add MCPToolHints for tool metadata and annotations
  entity/annotations.go
  entity/builder.go
  entity/command.go
  entity/entity.go
  entity/operation.go
  entity/sub_command.go
  entity/tool_hints.go
  entity/toolgroup_test.go
  entity_aliases.go
Labels: none

feat: add oxlint custom rules linting for clicky-ui webapp
  .gitignore
  Makefile
  examples/enitity/webapp/.oxlintrc.json
  examples/enitity/webapp/package.json
  examples/enitity/webapp/pnpm-lock.yaml
  examples/enitity/webapp/pnpm-workspace.yaml
  examples/enitity/webapp/src/App.tsx
  examples/enitity/webapp/src/ChatWidget.tsx
  examples/enitity/webapp/tsconfig.json
  examples/enitity/webapp/vite.config.ts
Labels: none

docs(skills): add clicky development guides
  .gitignore
  skills/clicky-tasks/SKILL.md
  skills/clicky-tasks/agents/openai.yaml
  skills/clicky-tasks/references/refactoring-patterns.md
  skills/pretty-printing/SKILL.md
  skills/pretty-printing/agents/openai.yaml
  skills/pretty-printing/references/api-patterns.md
Labels: none

claude: stamp default tool permissions on standard entity verbs
  entity/annotations.go
  entity/builder.go
  entity/entity.go
  entity/toolpermission_test.go
Labels: none

refactor(aichat): centralize model and tool metadata
  aichat/agent.go
  aichat/agent_test.go
  aichat/approval.go
  aichat/approval_test.go
  aichat/genkit.go
  aichat/go.mod
  aichat/go.sum
  aichat/models.go
  aichat/models_test.go
  aichat/server.go
  aichat/strict_tools.go
  aichat/strict_tools_test.go
  aichat/tool_registry.go
  aichat/tool_registry_test.go
  aichat/tools_clicky.go
  aichat/tools_clicky_test.go
  aichat/tools_mcp.go
  mcp/registry.go
Labels: mcp

feat(api): support semantic columns and structured table values
  api/column.go
  api/column_value.go
  api/column_value_test.go
  api/table.go
  api/table_test.go
  api/types.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
Labels: none

feat(api): Add streaming table exports and export metadata
  entity/operation.go
  formatters/http/http.go
  formatters/options.go
  formatters/stream.go
  formatters/stream_test.go
  rpc/entities_test.go
  rpc/openapi.go
  rpc/serve.go
  rpc/types.go
Labels: none

docs(docs): delegate agent workflow guidance to shared instructions
  AGENTS.md
Labels: none

feat(rpc): expose swagger command executor
  rpc/serve.go
Labels: none

build(db): Update commons-db dependency to v0.1.14
  aichat/go.mod
  aichat/go.sum
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
