Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"

feat: refactor formatters to use FieldValue.Text and PrettyData.Pretty()
  api/text.go
  api/types.go
  formatters/formatter_matrix_test.go
  formatters/pretty_formatter.go
  text/tokenizer.go
Labels: formatters

feat: migrate terminal tables to lipgloss (hybrid approach)
  api/table.go
Labels: none

chore: update examples
  examples/go.sum
  examples/uber_demo/main.go
Labels: none

feat: proper rendering of api.Text and Textable in all formatters
  api/parser.go
  api/types.go
  examples/uber_demo/main.go
  formatters/html_formatter.go
  formatters/pretty_formatter.go
Labels: none

chore: switch tree/table printing back to lipgloss
  api/html.go
  api/human.go
  api/parser.go
  api/pretty_row_test.go
  api/table.go
  api/types.go
  examples/go.mod
  examples/go.sum
  examples/uber_demo/main.go
  filesystem.go
  format.go
  formatters/formatters_test.go
  formatters/pretty_formatter.go
  formatters/schema.go
  go.mod
  go.sum
Labels: formatters

refactor: extract inline CSS/JS to go:embed files and use Iconify chevrons
  formatters/html/gridjs-theme.css
  formatters/html/html_formatter.go
  formatters/html/pdf.css
  formatters/html/tooltips.js
  formatters/html/tree.css
Labels: none

fix: wrap string values in Text for TextList compatibility
  formatters/parser.go
Labels: none

fix: improve HTML tree rendering with embedded assets
  formatters/html/html_formatter.go
  formatters/html/tree.css
  formatters/html/tree.js
  formatters/manager.go
Labels: none

feat: default to truncate-suffix when constraints specified
  api/tailwind/tailwind.go
  api/tailwind/truncate_test.go
Labels: none

fix(task): resolve data races in Task and Manager
  task/manager.go
  task/render.go
  task/task.go
Labels: task

feat(ai): add LLM agent adapter with structured output support
  ai/agent.go
  ai/api.go
  ai/llm_agent.go
Labels: none

fix: batch race conditions
  task/batch.go
Labels: none

feat: implement nested table rendering in HTML with compact support
  api/meta.go
  api/parser.go
  formatters/html/html_formatter.go
Labels: none

chore: fix nested html tree output
  api/meta.go
  api/tree_html.go
  formatters/html/html_formatter.go
  formatters/html/html_tooltip_playwright_test.go
Labels: none

chore: refactor formatters package
  formatters/html/assets.go
  formatters/html/gridjs-theme.css
  formatters/html/pdf.css
  formatters/html/tooltips.js
  formatters/html/tree.css
  formatters/html/tree.js
  formatters/html_formatter.go
Labels: none

chore: fix nested html table output
  api/table.go
  formatters/html/html_formatter.go
Labels: none

chore: html fixes
  .gitignore
  api/html.go
  api/text.go
  api/types.go
  examples/uber_demo/main.go
  exec/exec.go
  task/batch.go
Labels: none

chore: html table fixes
  api/meta.go
  api/parser.go
  format.go
  formatters/html_formatter.go
  formatters/tests/pretty_row_integration_test.go
  go.mod
  go.sum
  task/batch_example_test.go
Labels: none

chore: fix test errors
  ai/api.go
  api/filter.go
  api/human.go
  api/human_test.go
  cobra_command.go
  flags/binding.go
  flags/parser_test.go
  formatters/excel.go
  formatters/html/html_formatter.go
  formatters/manager.go
  formatters/markdown_formatter.go
  formatters/parser.go
  formatters/pretty_row_integration_test.go
  task/batch_test.go
Labels: none

feat: batch timeouts
  task/batch.go
  task/batch_test.go
  task/errors.go
Labels: none

fix: check PrettyRow interface before extracting struct fields
  formatters/parser.go
  formatters/tests/pretty_row_integration_test.go
Labels: none

chore: fix lint errors
  api/filter.go
  api/human.go
  api/parser.go
  api/table.go
  api/text.go
  exec/exec.go
  formatters/csv_formatter.go
  formatters/excel.go
  formatters/html/html_formatter.go
  formatters/html/html_pdf_formatter.go
  formatters/markdown_formatter.go
  formatters/markdown_formatter_test.go
  formatters/parser.go
  formatters/pdf/font_metrics_tester.go
  formatters/pdf/image.go
  formatters/pdf/table.go
  go.mod
  go.sum
  middleware/config.go
  middleware/jwt.go
  task/batch.go
  task/manager.go
  text/line_processor_builtin.go
Labels: none

refactor(table): make lipgloss table Textable-aware
  api/table.go
Labels: none

fix(html): add fallback to data.Tree for tree fields
  api/table.go
  formatters/html/html_formatter.go
Labels: none

chore: fix tests
  e2e_integration_test.go
  rpc/openapi_serve_integration_test.go
Labels: none

fix: reset capture output when reusing exec wrappers
  exec/exec.go
  exec/logger.go
Labels: none

chore: review fixes
  ai/api.go
  api/themes.go
  examples/file-tree-demo.go
  flags/binding.go
  formatters/html/tooltips.js
  formatters/pdf_formatter.go
  formatters/pretty_row_integration_test.go
  formatters/schema.go
Labels: none

feat(formatters): make TextTable self-contained with column schema
  api/meta.go
  api/table.go
  formatters/html/html_formatter.go
  formatters/parser.go
Labels: none

fix: duplicate rendering of logs with --no-progress
  task/render.go
Labels: none

chore: uber demo
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  examples/uber_demo/main.go
Labels: none

fix: formatting tests
  api/human.go
  api/icons/files.go
  api/icons/icons.go
  api/meta.go
  api/parser.go
  api/text.go
  formatters/http/http.go
  formatters/manager.go
  formatters/pdf_formatter.go
  formatters/tests/filter_integration_test.go
  formatters/tests/formatter_matrix_test.go
  formatters/tests/formatters_test.go
  formatters/tests/html_formatter_test.go
  formatters/tests/html_icon_test.go
  formatters/tests/manager_test.go
  formatters/tests/markdown_formatter_test.go
  formatters/tests/pointer_formatting_test.go
  formatters/tests/table_labels_test.go
  formatters/tests/time_duration_formatting_test.go
  formatters/tests/yaml_formatter_test.go
  formatters/yaml_formatter.go
  go.mod
Labels: formatters

refactor(html): use Value() + type switch instead of GetValue()
  formatters/html/html_formatter.go
Labels: none

fix: update test to handle Textable interface properly
  api/pretty_row_test.go
Labels: none

chore: ai refactorings
  ai/agent.go
  ai/api.go
  ai/claude_agent.go
  ai/cost.go
  ai/json_cleanup.go
  ai/llm_agent.go
Labels: none

fix: formatting tests
  api/human.go
  api/icons/files.go
  api/icons/icons.go
  api/meta.go
  api/parser.go
  api/text.go
  formatters/http/http.go
  formatters/manager.go
  formatters/pdf_formatter.go
  formatters/tests/filter_integration_test.go
  formatters/tests/formatter_matrix_test.go
  formatters/tests/formatters_test.go
  formatters/tests/html_formatter_test.go
  formatters/tests/html_icon_test.go
  formatters/tests/manager_test.go
  formatters/tests/markdown_formatter_test.go
  formatters/tests/pointer_formatting_test.go
  formatters/tests/table_labels_test.go
  formatters/tests/time_duration_formatting_test.go
  formatters/tests/yaml_formatter_test.go
  formatters/yaml_formatter.go
  go.mod
Labels: formatters

feat: refactor formatters to use FieldValue.Text and PrettyData.Pretty()
  api/text.go
  api/types.go
  formatters/formatter_matrix_test.go
  formatters/pretty_formatter.go
  text/tokenizer.go
Labels: formatters

fix(task): resolve race conditions in batch.go
  task/batch.go
  task/batch_test.go
Labels: none

chore: html table fixes
  api/meta.go
  api/parser.go
  format.go
  formatters/html_formatter.go
  formatters/tests/pretty_row_integration_test.go
  go.mod
  go.sum
  task/batch_example_test.go
Labels: none

fix: batch race conditions
  task/batch.go
Labels: none

feat: migrate terminal tables to lipgloss (hybrid approach)
  api/table.go
Labels: none
