Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

wip
  api/constants.go
  api/parser.go
  api/types.go
  example/main.go
  exec/exec.go
  format.go
  formatters/parser.go
Labels: none

refactor: move line processor to text package
  text/line_processor.go
  text/line_processor_builtin.go
  text/line_processor_builtin_test.go
  text/line_processor_logger.go
  text/line_processor_logger_test.go
  text/line_processor_test.go
Labels: none

feat: add filtering
  aliases.go
  api/parser.go
  formatters/filter_integration_test.go
  formatters/html_formatter.go
  formatters/schema.go
Labels: none

fix: apply CEL filters to table data in FormatWithOptions
  formatters/filter_integration_test.go
  formatters/manager.go
  formatters/parser.go
Labels: none

chore: test refactor
  api/api_suite_test.go
  api/filter_test.go
  api/pretty_row_test.go
  api/text.go
  api/types.go
  args_parser_test.go
  clicky_suite_test.go
  e2e_integration_test.go
  example/main.go
  exec/wrapper_test.go
  flags/flags_suite_test.go
  flags/parser_test.go
  format.go
  formatters/manager.go
  formatters/pretty_formatter.go
  http_test.go
Labels: api

feat: add RedactValues processor for known secrets
  text/line_processor_builtin.go
  text/line_processor_builtin_test.go
Labels: none

feat: add line processor middleware framework
  line_processor.go
  line_processor_builtin.go
  line_processor_builtin_test.go
  line_processor_logger.go
  line_processor_logger_test.go
  line_processor_test.go
Labels: none

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  d5146891eb67d0cd83f28443876526d4a9c1751e
Labels: none

feat(ai): support new Claude API response format
  ai/agent.go
  ai/claude.go
  ai/claude_agent.go
Labels: none

chore: ai fixes
  ai/agent.go
  ai/aider_agent.go
  ai/api.go
  ai/claude.go
  ai/claude_agent.go
  ai/cost.go
  ai/session.go
  ai/session_test.go
Labels: none

chore: misc formatting improvements
  api/code.go
  api/icons/icons.go
  api/parser.go
  api/text.go
  exec/exec.go
  format.go
  go.mod
  go.sum
Labels: none

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  f2c81ec7516b2df05fd67820ff2c8c82d428d0c7
Labels: none

feat: proper rendering of api.Text and Textable in all formatters
  api/parser.go
  api/types.go
  examples/uber_demo/main.go
  formatters/html_formatter.go
  formatters/pretty_formatter.go
Labels: none

feat: refactor formatters to use FieldValue.Text and PrettyData.Pretty()
  api/text.go
  api/types.go
  formatters/formatter_matrix_test.go
  formatters/pretty_formatter.go
  text/tokenizer.go
Labels: formatters

chore: misc
  api/html.go
  api/human.go
  api/markdown.go
  api/parser.go
  api/styles.go
  api/tailwind/tailwind.go
  api/themes.go
  flags.go
  formatters/filter_integration_test.go
  formatters/html_tooltip_playwright_test.go
  formatters/options.go
  formatters/table.go
  task/options.go
Labels: none

chore: update examples
  examples/go.mod
  examples/go.sum
  examples/uber_demo/main.go
Labels: none

fix: restore table rendering temporarily, fix ANSI test checks
  api/types.go
  formatters/formatter_matrix_test.go
  formatters/pretty_formatter.go
Labels: formatters

fix: wrap string values in Text for TextList compatibility
  formatters/parser.go
Labels: none

fix: add missing types and methods for compilation
  api/meta.go
  api/types.go
  formatters/parser.go
Labels: none

refactor: remove Formatted(), Plain(), Markdown(), HTML() from FieldValue
  api/types.go
  formatters/csv_formatter.go
  formatters/excel.go
  formatters/formatters_test.go
  formatters/html/html_formatter.go
  formatters/html/html_icon_test.go
  formatters/html/html_pdf_formatter.go
  formatters/html/html_tooltip_playwright_test.go
  formatters/manager.go
  formatters/map_fields_test.go
  formatters/markdown_formatter.go
  formatters/pdf_formatter.go
  formatters/pretty_formatter.go
  formatters/schema.go
  formatters/suite_test.go
  formatters/table.go
  formatters/table_labels_test.go
  formatters/time_duration_formatting_test.go
  formatters/tree_formatter.go
Labels: formatters

fix: update test to handle Textable interface properly
  api/pretty_row_test.go
Labels: none

wip
  api/filter.go
  api/icons/icons.go
  api/meta.go
  api/parse_tags.go
  api/parser.go
  api/table.go
  api/text.go
  api/tree.go
  api/types.go
  examples/uber_demo/main.go
  flags.go
  format.go
  formatters/csv_formatter.go
  formatters/excel.go
  formatters/manager.go
  formatters/markdown_formatter.go
  formatters/parser.go
  formatters/pretty_formatter.go
  formatters/schema.go
  formatters/tree_formatter.go
Labels: none

misc
  api/filter_test.go
  api/icons/files.go
  api/icons/icons.go
  api/meta.go
  api/parser.go
  api/pretty_row_test.go
  api/text.go
  cobra_command.go
  examples/file-tree-demo.go
  examples/uber_demo/main.go
  filesystem.go
  formatters/html/html_formatter.go
  formatters/manager.go
  formatters/pretty_formatter.go
  formatters/tree_formatter.go
Labels: none

fix: improve HTML tree rendering with embedded assets
  formatters/html/html_formatter.go
  formatters/html/tree.css
  formatters/html/tree.js
  formatters/manager.go
Labels: none

refactor: extract inline CSS/JS to go:embed files and use Iconify chevrons
  formatters/html/gridjs-theme.css
  formatters/html/html_formatter.go
  formatters/html/pdf.css
  formatters/html/tooltips.js
  formatters/html/tree.css
Labels: none

fix: align tree chevrons to top
  formatters/html/tree.css
Labels: none

fix: use interface assertion in NewTypedValue for nested trees
  api/parser.go
  examples/uber_demo/main.go
Labels: none

feat: implement nested table rendering in HTML with compact support
  api/meta.go
  api/parser.go
  formatters/html/html_formatter.go
Labels: none

feat(ai): add LLM agent adapter with structured output support
  ai/agent.go
  ai/api.go
  ai/llm_agent.go
Labels: none

chore: formatting auto fix
  Makefile
  examples/dynamic-executor.go
  examples/echo-comprehensive-demo.go
  examples/echo-middleware-demo.go
  examples/fluent-integration.go
  examples/hello-world-server.go
  examples/swagger-serve.go
  examples/task-manager-demo.go
  examples/uber_demo/main.go
  formatters/map_rendering_test.go
  formatters/uber_demo_integration_test.go
Labels: none

go mod tidy in examples
  examples/go.mod
  examples/go.sum
Labels: none

chore: formatting auto fix
  Makefile
  examples/dynamic-executor.go
  examples/echo-comprehensive-demo.go
  examples/echo-middleware-demo.go
  examples/fluent-integration.go
  examples/hello-world-server.go
  examples/swagger-serve.go
  examples/task-manager-demo.go
  examples/uber_demo/main.go
  formatters/map_rendering_test.go
  formatters/uber_demo_integration_test.go
Labels: none

go mod tidy in examples
  examples/go.mod
  examples/go.sum
Labels: none

chore: cleanup test
  formatters/markdown_formatter_test.go
Labels: none

Convert json.RawMessage to JSON strings instead of byte arrays
  api/parser.go
  api/types.go
  formatters/markdown_formatter_test.go
Labels: none

chore: cleanup
  api/parser.go
  formatters/markdown_formatter_test.go
Labels: none

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  6460d16b679e5845c77109831477808a3e76125a
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
