Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

chore: build fixes
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  go.mod
  go.sum
Labels: none

Notes added by 'git notes add'
  c3ed770ec3f9a4d826dda8d3ff042a6be8b0f193
Labels: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

chore: make task manager private
  ai/aider_agent.go
  ai/claude.go
  ai/claude_agent.go
  aliases.go
  api/builder.go
  api/text.go
  api/themes.go
  api/tree.go
  api/types.go
  flags.go
  formatters/manager.go
  formatters/pretty_formatter.go
  global_task_api.go
  mcp/server.go
  task/manager.go
  task/options.go
  task/signal.go
Labels: mcp

feat: add task group concurrency
  task/group.go
  task/group_concurrency_test.go
  task/manager.go
Labels: none

chore: fix formatting
  api/tree.go
  api/types.go
  formatters/csv_formatter.go
  formatters/html_formatter.go
  formatters/manager.go
  formatters/markdown_formatter.go
  formatters/parser.go
  formatters/tree_formatter.go
Labels: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  db02ac2e2f799643c59f00fd40636a917f7e9710
Labels: none

chore: pdf builder improvements
  formatters/manager.go
  formatters/options.go
  formatters/pdf/box.go
  formatters/pdf/builder.go
  formatters/pdf/image.go
  formatters/pdf/layout.go
  formatters/pdf/layout_analysis.go
  formatters/pdf/layout_analysis_test.go
  formatters/pdf/line.go
  formatters/pdf/list.go
  formatters/pdf/pdf_error_detection_test.go
  formatters/pdf/showcase_test.go
  formatters/pdf/style.go
  formatters/pdf/svg_box.go
  formatters/pdf/svg_box_test.go
  formatters/pdf/svg_converter_manager.go
  formatters/pdf/svg_converter_test.go
  formatters/pdf/svg_importer.go
  formatters/pdf/svg_importer_test.go
  formatters/pdf/svg_widget.go
  formatters/pdf/svg_widget_test.go
  formatters/pdf/table_component.go
  formatters/pdf/table_improved.go
  formatters/pdf/text.go
  formatters/pdf/utils_test.go
  go.mod
  go.sum
  shutdown/shutdown.go
  task/manager.go
  task/signal.go
Labels: none

wip
  api/tailwind/borders.go
  api/tailwind/borders_test.go
  api/text.go
  cmd/clicky/main.go
  exec/exec.go
  exec/exec_suite_test.go
  exec/exec_test.go
  flags.go
  formatters/pdf/box_builder.go
  formatters/pdf/builder.go
  formatters/pdf/chromium_converter.go
  formatters/pdf/chromium_converter_test.go
  formatters/pdf/image.go
  formatters/pdf/inkscape_converter.go
  formatters/pdf/label_builder.go
  formatters/pdf/layout_analysis.go
  formatters/pdf/line_builder.go
  formatters/pdf/line_widget_builder.go
  formatters/pdf/pdf_converter.go
  formatters/pdf/pdf_embed_widget.go
  formatters/pdf/pdf_importer.go
  formatters/pdf/pdf_importer_advanced.go
  formatters/pdf/pdf_integration_test.go
  formatters/pdf/pdf_widget.go
  formatters/pdf/playwright_converter.go
  formatters/pdf/rsvg_converter.go
  formatters/pdf/showcase_test.go
  formatters/pdf/svg_box.go
  formatters/pdf/svg_box.svg
  formatters/pdf/svg_box_builder.go
  formatters/pdf/svg_converter.go
  formatters/pdf/svg_converter_manager.go
  formatters/pdf/svg_widget.go
  formatters/pdf/table_component.go
  formatters/pdf/table_improved.go
  formatters/pdf/text.go
  formatters/table_labels_test.go
  formatters/tree_formatter.go
  go.mod
  go.sum
Labels: none

chore: fix race conditions
  formatters/csv_formatter.go
  formatters/manager_test.go
  formatters/parser.go
  formatters/pdf/inkscape_converter.go
  task/group.go
  task/manager.go
  task/render.go
  task/task.go
  task/worker.go
Labels: task

wip
  .gitignore
  api/parser.go
  api/types.go
  example/example-data-200.json
  example/order-schema.yaml
  formatters/html_formatter.go
  formatters/html_pdf_formatter.go
  formatters/manager.go
  formatters/parser.go
  formatters/schema.go
  formatters/table_labels_test.go
  go.mod
Labels: none

fix: html table labels
  examples/order-schema.yaml
  flags.go
  formatters/html_formatter.go
  formatters/table_labels_test.go
Labels: none

chore: fix tests
  api/types.go
  example/order-schema.yaml
  exec/exec.go
  exec/exec_test.go
  formatters/pdf/pdf_integration_test.go
  formatters/pdf/showcase_test.go
  formatters/pdf/svg_converter.go
  formatters/pdf/svg_widget.go
  formatters/pretty_formatter.go
  task/manager.go
  task/render.go
  task/task.go
Labels: task

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  e43e1c7fd5c864d0ab256575257dee9dd096c7be
Labels: none

feat: add openapi server
  ai/aider_agent.go
  api/parser.go
  api/tailwind/borders.go
  api/tailwind/borders_test.go
  api/tailwind/tailwind_test.go
  api/tree.go
  cmd/README.md
  cmd/clicky/main.go
  exec/exec_suite_test.go
  exec/exec_test.go
  extensions/cobra.go
  formatters/excel.go
  formatters/html_pdf_formatter.go
  formatters/parser.go
  formatters/pdf/svg_converter.go
  formatters/table_labels_test.go
  go.mod
  go.sum
  mcp/command.go
  mcp/registry.go
  rpc/commands.go
  rpc/converter.go
  rpc/executor.go
  rpc/executor_test.go
  rpc/openapi.go
  rpc/openapi_serve_integration_test.go
  rpc/openapi_test.go
  rpc/serve.go
  rpc/serve_test.go
  rpc/types.go
  rpc/validator.go
  rpc/validator_test.go
  task/group_concurrency_test.go
  task/task.go
Labels: mcp, task

feat: add args parser
  args_parser.go
  args_parser_test.go
  rpc/executor.go
  rpc/executor_test.go
  rpc/openapi_serve_integration_test.go
Labels: none

refactor: extract MCP logic into generic RPC package
  go.mod
  mcp/registry.go
  rpc/converter.go
  rpc/openapi.go
  rpc/types.go
Labels: mcp

feat: add openapi server
  examples/dynamic-executor.go
  examples/fluent-integration.go
  examples/go.mod
  examples/go.sum
  examples/mcp-integration.go
  examples/swagger-serve.go
  extensions/cobra.go
  mcp/command.go
  rpc/commands.go
  rpc/converter.go
  rpc/executor.go
  rpc/executor_test.go
  rpc/openapi.go
  rpc/openapi_test.go
  rpc/serve.go
  rpc/serve_test.go
  rpc/validator.go
  rpc/validator_test.go
Labels: mcp

add excel
  aliases.go
  exec/exec.go
  formatters/excel.go
  formatters/manager.go
  go.mod
  go.sum
  task/logger_test.go
  task/manager.go
  task/render.go
  task/task.go
  task/worker.go
Labels: task

chore: go mod tidy
  go.mod
  go.sum
Labels: none

chore: update lint workflows
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

chore: add openapi html
  rpc/assets/index.html
Labels: none

chore: bump golangci-lint action
  .github/workflows/lint.yml
Labels: none

fix: linting issues
  .github/workflows/test.yml
  Makefile
Labels: none

chore: bump golangci-lint action
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  exec/exec_test.go
  formatters/pdf/layout_analysis_test.go
Labels: none

refactor: extract MCP logic into generic RPC package
  go.mod
  mcp/registry.go
  rpc/converter.go
  rpc/openapi.go
  rpc/types.go
Labels: mcp

chore: go mod tidy
  go.mod
  go.sum
Labels: none

add excel
  aliases.go
  exec/exec.go
  formatters/excel.go
  formatters/manager.go
  go.mod
  go.sum
  task/logger_test.go
  task/manager.go
  task/render.go
  task/task.go
  task/worker.go
Labels: task

feat: add openapi server
  examples/dynamic-executor.go
  examples/fluent-integration.go
  examples/go.mod
  examples/go.sum
  examples/mcp-integration.go
  examples/swagger-serve.go
  extensions/cobra.go
  mcp/command.go
  rpc/commands.go
  rpc/converter.go
  rpc/executor.go
  rpc/executor_test.go
  rpc/openapi.go
  rpc/openapi_test.go
  rpc/serve.go
  rpc/serve_test.go
  rpc/validator.go
  rpc/validator_test.go
Labels: mcp

chore: add openapi html
  rpc/assets/index.html
Labels: none

chore: update lint workflows
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

feat: add openapi server
  ai/aider_agent.go
  api/parser.go
  api/tailwind/borders.go
  api/tailwind/borders_test.go
  api/tailwind/tailwind_test.go
  api/tree.go
  cmd/README.md
  cmd/clicky/main.go
  exec/exec_suite_test.go
  exec/exec_test.go
  extensions/cobra.go
  formatters/excel.go
  formatters/html_pdf_formatter.go
  formatters/parser.go
  formatters/pdf/svg_converter.go
  formatters/table_labels_test.go
  go.mod
  go.sum
  mcp/command.go
  mcp/registry.go
  rpc/commands.go
  rpc/converter.go
  rpc/executor.go
  rpc/executor_test.go
  rpc/openapi.go
  rpc/openapi_serve_integration_test.go
  rpc/openapi_test.go
  rpc/serve.go
  rpc/serve_test.go
  rpc/types.go
  rpc/validator.go
  rpc/validator_test.go
  task/group_concurrency_test.go
  task/task.go
Labels: mcp, task

feat: add args parser
  args_parser.go
  args_parser_test.go
  rpc/executor.go
  rpc/executor_test.go
  rpc/openapi_serve_integration_test.go
Labels: none

chore: bump golangci-lint action
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  exec/exec_test.go
  formatters/pdf/layout_analysis_test.go
Labels: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  3cf8e8ce266370b417935f99f0da6a170e15754e
Labels: none

fix: task failures
  task/task.go
Labels: task

wip
  README.md
  auth/.htpasswd
  auth/users.txt
  examples/echo-comprehensive-demo.go
  examples/echo-middleware-demo.go
  examples/hello-world-server.go
  formatters/doc.go
  go.mod
  go.sum
  middleware/auth.go
  middleware/cel.go
  middleware/config.go
  middleware/doc.go
  middleware/echo.go
  middleware/echo_ginkgo_test.go
  middleware/echo_suite_test.go
  middleware/echo_test.go
  middleware/interceptor.go
  middleware/jwt.go
  task/doc.go
  task/manager.go
  task/render.go
  task/task.go
Labels: task

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
