Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

feat: batch timeouts
  task/batch.go
  task/batch_test.go
  task/errors.go
Labels: none

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  dcc082d8e5c1074313a028fdd2443fa89d89eff6
Labels: none

chore: fix formatting tests
  api/human.go
  api/styles.go
  api/text.go
  formatters/manager.go
  formatters/options.go
  formatters/parser.go
  formatters/reflect.go
  formatters/tests/formatters_test.go
  formatters/tests/html_formatter_test.go
  formatters/tests/time_duration_formatting_test.go
Labels: formatters

fix: batch timeouts
  task/batch.go
  task/batch_example_test.go
Labels: none

chore: test / logging improvements
  ai/agent.go
  api/human_test.go
  api/meta.go
  cobra_command.go
  exec/exec.go
  flags.go
  formatters/tests/map_fields_test.go
  formatters/tests/parser_test.go
  formatters/tests/sorting_test.go
  formatters/tests/time_duration_formatting_test.go
  formatters/tests/tree_test.go
Labels: none

chore: misc improvements
  exec/exec.go
Labels: none

chore: misc improvements
  cobra_command.go
  flags.go
Labels: none

feat: numerous formatting helpers
  api/text.go
Labels: none

chore: misc formatting fixes
  formatters/manager.go
  formatters/options.go
  formatters/parser.go
  formatters/reflect.go
  formatters/tests/formatters_test.go
  formatters/tests/map_fields_test.go
  formatters/tests/parser_test.go
  formatters/tests/sorting_test.go
  formatters/tests/tree_test.go
Labels: formatters

fix: lint
  .github/workflows/test.yml
  .gitignore
  Makefile
Labels: none

fix: lint errors with claude
  ai/agent_test.go
  ai/cache/cache.go
  ai/commands.go
  api/filter_test.go
  api/meta.go
  api/pretty_row_test.go
  api/themes.go
  args_parser_test.go
  cobra_command.go
  e2e_integration_test.go
  exec/exec_test.go
  flags/assignment.go
  formatters/html_formatter.go
  formatters/html_pdf_formatter.go
  formatters/pdf/layout_analysis.go
  formatters/pdf/playwright_converter.go
  formatters/pdf/svg_box.go
  formatters/pdf/svg_widget.go
  formatters/pdf_formatter.go
  formatters/schema.go
  formatters/tests/custom_test.go
  formatters/tests/formatters_test.go
  formatters/tests/html_formatter_test.go
  formatters/tests/schema_dump_test.go
  mcp/server.go
  middleware/auth.go
  rpc/executor.go
  rpc/executor_test.go
  rpc/openapi_serve_integration_test.go
  task/batch.go
  task/manager.go
  task/render.go
  text/sensitive.go
Labels: formatters, mcp

disable Time and Duration Formatting for now
  formatters/html_pdf_formatter.go
  formatters/tests/time_duration_formatting_test.go
Labels: none

fix: ExampleBatch_timeout
  task/batch_example_test.go
Labels: none

fix: test
  Makefile
  api/meta.go
  e2e_integration_test.go
  formatters/pretty_formatter.go
  formatters/sorting.go
Labels: none

fix: lint (#60)
  .github/workflows/test.yml
  .gitignore
  Makefile
  ai/agent_test.go
  ai/cache/cache.go
  ai/commands.go
  api/filter_test.go
  api/meta.go
  api/pretty_row_test.go
  api/themes.go
  args_parser_test.go
  cobra_command.go
  e2e_integration_test.go
  exec/exec_test.go
  flags/assignment.go
  formatters/html_formatter.go
  formatters/html_pdf_formatter.go
  formatters/pdf/layout_analysis.go
  formatters/pdf/playwright_converter.go
  formatters/pdf/svg_box.go
  formatters/pdf/svg_widget.go
  formatters/pdf_formatter.go
  formatters/pretty_formatter.go
  formatters/schema.go
  formatters/sorting.go
  formatters/tests/custom_test.go
  formatters/tests/formatters_test.go
  formatters/tests/html_formatter_test.go
  formatters/tests/schema_dump_test.go
  formatters/tests/time_duration_formatting_test.go
  mcp/server.go
  middleware/auth.go
  rpc/executor.go
  rpc/executor_test.go
  rpc/openapi_serve_integration_test.go
  task/batch.go
  task/batch_example_test.go
  task/manager.go
  task/render.go
  text/sensitive.go
Labels: formatters, mcp

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  e6892c10c87bc99bd5cb7fee15152f8eeaf4eb6c
Labels: none

chore: misc formatting fixes
  formatters/manager.go
  formatters/options.go
  formatters/parser.go
  formatters/reflect.go
  formatters/tests/formatters_test.go
  formatters/tests/map_fields_test.go
  formatters/tests/parser_test.go
  formatters/tests/sorting_test.go
  formatters/tests/tree_test.go
Labels: formatters

fix: deduplicate styles in Text.Styles() method
  api/text.go
Labels: none

fix: log command errors before returning
  cobra_command.go
Labels: none

chore: change exec run log level from debug to trace
  exec/exec.go
Labels: none

refactor: simplify JSON/YAML formatters to use FormatValue directly
  formatters/json_formatter.go
  formatters/yaml_formatter.go
Labels: none

refactor: simplify Tree/Table options from *bool to bool
  formatters/manager.go
  formatters/options.go
  formatters/parser.go
Labels: none

test: update formatter tests for date format and options changes
  formatters/tests/formatters_test.go
  formatters/tests/map_fields_test.go
  formatters/tests/parser_test.go
Labels: formatters

fix: log command errors before returning
  cobra_command.go
Labels: none

chore: change exec run log level from debug to trace
  exec/exec.go
Labels: none

chore: misc formatting fixes
  formatters/manager.go
  formatters/options.go
  formatters/parser.go
  formatters/reflect.go
  formatters/tests/formatters_test.go
  formatters/tests/map_fields_test.go
  formatters/tests/parser_test.go
  formatters/tests/sorting_test.go
  formatters/tests/tree_test.go
Labels: formatters

fix: deduplicate styles in Text.Styles() method
  api/text.go
Labels: none

refactor: simplify JSON/YAML formatters to use FormatValue directly
  formatters/json_formatter.go
  formatters/yaml_formatter.go
Labels: none

test: update formatter tests for date format and options changes
  formatters/tests/formatters_test.go
  formatters/tests/map_fields_test.go
  formatters/tests/parser_test.go
Labels: formatters

refactor: simplify Tree/Table options from *bool to bool
  formatters/manager.go
  formatters/options.go
  formatters/parser.go
Labels: none

chore(release): 1.12.2 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  4e5d2f1f2a6f8551ae3d9f893561865df20cabff
Labels: none

feat: Buttons elements
  api/button.go
Labels: none

test: slack formatter
  formatters/tests/slack_formatter_test.go
Labels: none

feat: slack formatter
  README.md
  api/parse_tags.go
  formatters/doc.go
  formatters/http/http.go
  formatters/manager.go
  formatters/options.go
  formatters/slack_formatter.go
Labels: none

fix: TryTypedValue
  api/meta.go
Labels: none

chore: refactor
  api/table.go
Labels: none

fix: test
  api/meta.go
  api/parser.go
  formatters/parser.go
  formatters/slack_formatter.go
  formatters/tests/slack_formatter_test.go
  formatters/tests/testdata/.gitignore
  formatters/tests/testdata/slack-msg.json
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
