Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"

fix: duplicate rendering of logs with --no-progress
  task/render.go
Labels: none

chore: fix nested html table output
  api/table.go
  formatters/html/html_formatter.go
Labels: none

fix: restore table rendering temporarily, fix ANSI test checks
  api/types.go
  formatters/formatter_matrix_test.go
  formatters/pretty_formatter.go
Labels: formatters

feat(formatters): make TextTable self-contained with column schema
  api/meta.go
  api/table.go
  formatters/html/html_formatter.go
  formatters/parser.go
Labels: none

chore: switch tree/table printing back to lipgloss
  api/html.go
  api/human.go
  api/parser.go
  api/pretty_row_test.go
  api/table.go
  api/types.go
  examples/go.mod
  examples/go.sum
  examples/uber_demo/main.go
  filesystem.go
  format.go
  formatters/formatters_test.go
  formatters/pretty_formatter.go
  formatters/schema.go
  go.mod
  go.sum
Labels: formatters

fix: args handling in clicky.AddCommand
  cobra_command.go
  flags/assignment.go
  flags/binding.go
  flags/parser.go
  flags/types.go
Labels: none

feat: proper rendering of api.Text and Textable in all formatters
  api/parser.go
  api/types.go
  examples/uber_demo/main.go
  formatters/html_formatter.go
  formatters/pretty_formatter.go
Labels: none

refactor(html): use Value() + type switch instead of GetValue()
  formatters/html/html_formatter.go
Labels: none

fix: parse max-w unit suffixes (ch, px, rem, em)
  api/tailwind/tailwind.go
Labels: none

refactor: remove Formatted(), Plain(), Markdown(), HTML() from FieldValue
  api/types.go
  formatters/csv_formatter.go
  formatters/excel.go
  formatters/formatters_test.go
  formatters/html/html_formatter.go
  formatters/html/html_icon_test.go
  formatters/html/html_pdf_formatter.go
  formatters/html/html_tooltip_playwright_test.go
  formatters/manager.go
  formatters/map_fields_test.go
  formatters/markdown_formatter.go
  formatters/pdf_formatter.go
  formatters/pretty_formatter.go
  formatters/schema.go
  formatters/suite_test.go
  formatters/table.go
  formatters/table_labels_test.go
  formatters/time_duration_formatting_test.go
  formatters/tree_formatter.go
Labels: formatters

refactor: extract inline CSS/JS to go:embed files and use Iconify chevrons
  formatters/html/gridjs-theme.css
  formatters/html/html_formatter.go
  formatters/html/pdf.css
  formatters/html/tooltips.js
  formatters/html/tree.css
Labels: none

wip
  api/filter.go
  api/icons/icons.go
  api/meta.go
  api/parse_tags.go
  api/parser.go
  api/table.go
  api/text.go
  api/tree.go
  api/types.go
  examples/uber_demo/main.go
  flags.go
  format.go
  formatters/csv_formatter.go
  formatters/excel.go
  formatters/manager.go
  formatters/markdown_formatter.go
  formatters/parser.go
  formatters/pretty_formatter.go
  formatters/schema.go
  formatters/tree_formatter.go
Labels: none

chore: misc
  api/html.go
  api/human.go
  api/markdown.go
  api/parser.go
  api/styles.go
  api/tailwind/tailwind.go
  api/themes.go
  flags.go
  formatters/filter_integration_test.go
  formatters/html_tooltip_playwright_test.go
  formatters/options.go
  formatters/table.go
  task/options.go
Labels: none

fix: reset capture output when reusing exec wrappers
  exec/exec.go
  exec/logger.go
Labels: none

misc
  api/filter_test.go
  api/icons/files.go
  api/icons/icons.go
  api/meta.go
  api/parser.go
  api/pretty_row_test.go
  api/text.go
  cobra_command.go
  examples/file-tree-demo.go
  examples/uber_demo/main.go
  filesystem.go
  formatters/html/html_formatter.go
  formatters/manager.go
  formatters/pretty_formatter.go
  formatters/tree_formatter.go
Labels: none

chore: uber demo
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  examples/uber_demo/main.go
Labels: none

chore: review fixes
  ai/api.go
  api/themes.go
  examples/file-tree-demo.go
  flags/binding.go
  formatters/html/tooltips.js
  formatters/pdf_formatter.go
  formatters/pretty_row_integration_test.go
  formatters/schema.go
Labels: none

chore: fix nested html tree output
  api/meta.go
  api/tree_html.go
  formatters/html/html_formatter.go
  formatters/html/html_tooltip_playwright_test.go
Labels: none

feat(ai): add LLM agent adapter with structured output support
  ai/agent.go
  ai/api.go
  ai/llm_agent.go
Labels: none

fix(html): add fallback to data.Tree for tree fields
  api/table.go
  formatters/html/html_formatter.go
Labels: none

feat: implement nested table rendering in HTML with compact support
  api/meta.go
  api/parser.go
  formatters/html/html_formatter.go
Labels: none

fix: formatting improvements
  api/filter_test.go
  api/html.go
  api/human.go
  api/human_test.go
  api/icons/icons.go
  api/keyvalue_test.go
  api/meta.go
  api/parser.go
  api/pretty_row_test.go
  api/table.go
  api/text.go
  api/themes.go
  examples/uber_demo/main.go
  formatters/formatter_matrix_test.go
  formatters/formatters_test.go
  formatters/html/html_formatter_test.go
  formatters/html/tree.css
  formatters/manager.go
  formatters/map_fields_test.go
  formatters/map_key_sorting_test.go
  formatters/parser.go
  formatters/parser_test.go
  formatters/pretty_row_integration_test.go
  formatters/sorting_test.go
  formatters/table_labels_test.go
  formatters/tree_test.go
Labels: formatters

chore: fix test errors
  ai/api.go
  api/filter.go
  api/human.go
  api/human_test.go
  cobra_command.go
  flags/binding.go
  flags/parser_test.go
  formatters/excel.go
  formatters/html/html_formatter.go
  formatters/manager.go
  formatters/markdown_formatter.go
  formatters/parser.go
  formatters/pretty_row_integration_test.go
  task/batch_test.go
Labels: none

fix: wrap string values in Text for TextList compatibility
  formatters/parser.go
Labels: none

chore: fix tests
  e2e_integration_test.go
  rpc/openapi_serve_integration_test.go
Labels: none

fix: add missing types and methods for compilation
  api/meta.go
  api/types.go
  formatters/parser.go
Labels: none

fix: prevent truncate class from overwriting explicit max-w
  api/tailwind/tailwind.go
Labels: none

chore: update examples
  examples/go.sum
  examples/uber_demo/main.go
Labels: none

fix(task): prevent hanging and terminal corruption in task manager
  task/batch.go
  task/manager.go
  task/task.go
Labels: task

fix: align tree chevrons to top
  formatters/html/tree.css
Labels: none

fix(task): resolve data races in Task and Manager
  task/manager.go
  task/render.go
  task/task.go
Labels: task

feat: migrate tree rendering to lipgloss
  api/meta.go
  formatters/tree_formatter.go
  formatters/tree_test.go
Labels: none

chore: refactor formatters package
  formatters/html/assets.go
  formatters/html/gridjs-theme.css
  formatters/html/pdf.css
  formatters/html/tooltips.js
  formatters/html/tree.css
  formatters/html/tree.js
  formatters/html_formatter.go
Labels: none

chore: html fixes
  .gitignore
  api/html.go
  api/text.go
  api/types.go
  examples/uber_demo/main.go
  exec/exec.go
  task/batch.go
Labels: none

fix: use interface assertion in NewTypedValue for nested trees
  api/parser.go
  examples/uber_demo/main.go
Labels: none

feat: default to truncate-suffix when constraints specified
  api/tailwind/tailwind.go
  api/tailwind/truncate_test.go
Labels: none

fix: check PrettyRow interface before extracting struct fields
  formatters/parser.go
  formatters/tests/pretty_row_integration_test.go
Labels: none

refactor(table): make lipgloss table Textable-aware
  api/table.go
Labels: none

fix: improve HTML tree rendering with embedded assets
  formatters/html/html_formatter.go
  formatters/html/tree.css
  formatters/html/tree.js
  formatters/manager.go
Labels: none

chore: fix lint errors
  api/filter.go
  api/human.go
  api/parser.go
  api/table.go
  api/text.go
  exec/exec.go
  formatters/csv_formatter.go
  formatters/excel.go
  formatters/html/html_formatter.go
  formatters/html/html_pdf_formatter.go
  formatters/markdown_formatter.go
  formatters/markdown_formatter_test.go
  formatters/parser.go
  formatters/pdf/font_metrics_tester.go
  formatters/pdf/image.go
  formatters/pdf/table.go
  go.mod
  go.sum
  middleware/config.go
  middleware/jwt.go
  task/batch.go
  task/manager.go
  text/line_processor_builtin.go
Labels: none
