Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

feat(mcp): Add fluent Builder API and discover-tools MCP tool
  mcp/command.go
  mcp/registry.go
  mcp/server.go
Labels: mcp

docs(readme): simplify and restructure README for clarity and brevity
  README.md
Labels: none

chore(deps): update dependencies to latest versions
  go.mod
  go.sum
Labels: none

chore(deps): update dependencies to latest versions
  go.mod
  go.sum
Labels: none

feat(mcp): add SSE transport, tools command, and multi-client install support
  go.sum
  mcp/command.go
  mcp/registry.go
  mcp/server.go
Labels: mcp

chore(deps): update Go dependencies in examples module
  examples/go.mod
  examples/go.sum
Labels: none

feat(entity): add WithOptionalID for actions with flag-supplied targets
  entity.go
  entity_filters_test.go
Labels: none

fix(task): treat StatusWarning as terminal state to freeze endTime
  examples/go.mod
  task/task.go
  task/task_status_test.go
Labels: task

chore(deps): clean up unused dependencies in go.sum
  go.sum
Labels: none

feat(rpc,cobra): Support rich error rendering and configurable converter paths
  cobra_command.go
  cobra_command_test.go
  rpc/converter.go
  rpc/openapi.go
  rpc/serve.go
Labels: none

feat(api,flags): add unified diff rendering and grouped flag help output
  go.sum
Labels: none

build(makefile): add git commit and build date to binary via ldflags
  examples/enitity/webapp/src/App.tsx
  go.sum
Labels: none

feat(entity): add hidden _id column to wrapped entities
  go.sum
Labels: none

chore(release): 1.21.10 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  562371047e51527f4b4bf7b7ff2269d6a3105b63
Labels: none

feat(api): add Admonition and Keyed types for structured content rendering
  api/admonition.go
  api/admonition_test.go
  api/keyed.go
  api/keyed_test.go
  api/table.go
  api/table_test.go
  cobra_command.go
  format.go
Labels: none

feat(formatters): Add ClickyDocument and ClickyText for direct Textable serialization
  formatters/clicky_document.go
  formatters/clicky_document_test.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
Labels: none

feat(entity,flags,rpc): Add filter lifting, HTTP request population, and UI parameter roles
  entity.go
  flags/request.go
  flags/request_test.go
  rpc/openapi.go
  rpc/openapi_test.go
  sub_command.go
  sub_command_test.go
Labels: none

feat(api): Add PrettyShort interface for compact cell rendering and Link JSON payload support
  api/column.go
  api/link.go
  api/link_test.go
  api/meta.go
  api/meta_test.go
  api/parse_tags.go
  api/parser.go
  api/types.go
  entity.go
Labels: none

fix(task): enforce group concurrency at dequeue time instead of task body
  task/group.go
  task/group_concurrency_test.go
  task/options.go
  task/task.go
  task/worker.go
Labels: task

feat(entity,flags,rpc): Add filter lifting, HTTP request population, and UI parameter roles
  entity.go
  flags/request.go
  flags/request_test.go
  rpc/openapi.go
  rpc/openapi_test.go
  sub_command.go
  sub_command_test.go
Labels: none

fix(task): enforce group concurrency at dequeue time instead of task body
  task/group.go
  task/group_concurrency_test.go
  task/options.go
  task/task.go
  task/worker.go
Labels: task

feat(api): Add PrettyShort interface for compact cell rendering and Link JSON payload support
  api/column.go
  api/link.go
  api/link_test.go
  api/meta.go
  api/meta_test.go
  api/parse_tags.go
  api/parser.go
  api/types.go
  entity.go
Labels: none

feat(api): add Admonition and Keyed types for structured content rendering
  api/admonition.go
  api/admonition_test.go
  api/keyed.go
  api/keyed_test.go
  api/table.go
  api/table_test.go
  cobra_command.go
  format.go
Labels: none

feat(formatters): Add ClickyDocument and ClickyText for direct Textable serialization
  formatters/clicky_document.go
  formatters/clicky_document_test.go
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
Labels: none

chore(release): 1.21.11 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  c3d8a06ceb29d4a7e6e3e5e0e1eb1ee1b515a8ae
Labels: none

chore: bump gomplate and is-healthy for kubernetes v0.36.1
  go.mod
  go.sum
Labels: none

feat(flags): support comma-delimited shorthand in flag tags
  flags/parser.go
  flags/parser_test.go
  flags/request_test.go
Labels: none

chore: bump gomplate and is-healthy for kubernetes v0.36.1
  go.mod
  go.sum
Labels: none

feat(flags): support comma-delimited shorthand in flag tags
  flags/parser.go
  flags/parser_test.go
  flags/request_test.go
Labels: none

chore(release): 1.21.12 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  749911b347104a0cf0b68ca87a384670c1842d54
Labels: none

chore(embed): commit task-ui bundle + build it in release CI
  .github/workflows/release.yml
  .gitignore
  task/ui/.gitignore
  task/ui/dist/taskui.js
Labels: none

refactor(exec): Add thread-safe concurrent access to Process state
  exec/exec.go
  exec/logger.go
  task/manager.go
  task/manager_wait.go
Labels: none

refactor(exec): Add thread-safe concurrent access to Process state
  exec/exec.go
  exec/logger.go
  task/manager.go
  task/manager_wait.go
Labels: none

chore(embed): commit task-ui bundle + build it in release CI
  .github/workflows/release.yml
  .gitignore
  task/ui/.gitignore
  task/ui/dist/taskui.js
Labels: none

chore(release): 1.21.13 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  f2be2b6e442cda30bb5a38ed4bd8af74ff3b0c3c
Labels: none

feat(api,openapi,lint): Add optional ID support for entity actions and expand formatting helpers
  .gitignore
  cobra_command.go
  e2e_integration_test.go
  entity.go
  entity_annotations.go
  format.go
  formatters/options.go
  formatters/options_test.go
  rpc/converter.go
  rpc/openapi_test.go
  sub_command.go
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
