Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

fix(aichat): use clicky MCP client
  aichat/go.mod
  aichat/go.sum
  aichat/tools_mcp.go
  aichat/tools_mcp_test.go
  go.sum
Labels: none

chore(deps): tidy MCP client module graph
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.sum
Labels: none

fix(mcp): infer OAuth scopes from resource metadata
  mcp/client_oauth.go
  mcp/client_oauth_test.go
Labels: mcp

fix(mcp): harden client session and credential handling
  aichat/tools_mcp.go
  aichat/tools_mcp_test.go
  mcp/client_dial.go
  mcp/client_dial_test.go
  mcp/client_oauth.go
  mcp/client_oauth_test.go
  mcp/client_run.go
  mcp/client_run_test.go
Labels: mcp

feat(mcp): Cobra commands for MCP server (#149)
  aichat/go.mod
  aichat/go.sum
  aichat/tools_mcp.go
  aichat/tools_mcp_test.go
  examples/enitity/go.mod
  examples/enitity/go.sum
  examples/uber_demo/go.sum
  go.mod
  go.sum
  mcp/client_cache.go
  mcp/client_command.go
  mcp/client_command_test.go
  mcp/client_dial.go
  mcp/client_dial_test.go
  mcp/client_e2e_test.go
  mcp/client_flags.go
  mcp/client_flags_test.go
  mcp/client_oauth.go
  mcp/client_oauth_test.go
  mcp/client_registry.go
  mcp/client_registry_test.go
  mcp/client_run.go
  mcp/client_run_test.go
  mcp/command.go
  mcp/testdata/stdioserver/main.go
  task/task.go
Labels: mcp, task

chore(release): 1.21.45 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  57674c3376881bc87d82915177b2139f6df6f75d
Labels: none

chore(release): 1.21.46 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  292325707fb408d00c51e138ae8522a667b0b06f
Labels: none

chore(release): 1.21.47 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  05251483f465f2723e3e839af8b78def7e8707d7
Labels: none

feat(aichat): add attachment resolution for multimodal chat inputs
  aichat/agent.go
  aichat/attachments.go
  aichat/attachments_ginkgo_test.go
  aichat/attachments_suite_test.go
  aichat/messages.go
  aichat/server.go
Labels: none

fix(formatters): preserve no-color settings in Markdown rendering
  formatters/manager.go
  formatters/manager_context.go
  formatters/markdown_formatter.go
  formatters/markdown_options_test.go
Labels: none

refactor(aichat): Delegate Cobra tool adaptation to Captain
  aichat/adapter_ginkgo_test.go
  aichat/adapter_suite_test.go
  aichat/agent.go
  aichat/agent_pool.go
  aichat/agent_pool_test.go
  aichat/agent_stream.go
  aichat/agent_test.go
  aichat/approval.go
  aichat/approval_test.go
  aichat/attachments.go
  aichat/attachments_ginkgo_test.go
  aichat/cost.go
  aichat/cost_test.go
  aichat/genkit.go
  aichat/go.mod
  aichat/go.sum
  aichat/messages.go
  aichat/messages_test.go
  aichat/models.go
  aichat/models_test.go
  aichat/server.go
  aichat/settings.go
  aichat/settings_test.go
  aichat/sse.go
  aichat/sse_test.go
  aichat/strict_tools.go
  aichat/strict_tools_test.go
  aichat/threads.go
  aichat/threads_http.go
  aichat/threads_test.go
  aichat/tool_catalog.go
  aichat/tool_group_test.go
  aichat/tool_registry.go
  aichat/tool_registry_test.go
  aichat/tools_clicky.go
  aichat/tools_clicky_test.go
  aichat/tools_mcp.go
  aichat/tools_mcp_test.go
Labels: none

feat(examples): Add Captain-backed entity demo serving and tests
  Makefile
  examples/enitity/go.mod
  examples/enitity/internal/entitydemo/app.go
  examples/enitity/internal/entitydemo/entitydemo_suite_test.go
  examples/enitity/internal/entitydemo/entitydemo_test.go
  examples/enitity/internal/entitydemo/filters.go
  examples/enitity/internal/entitydemo/markdown_preview.go
  examples/enitity/internal/entitydemo/models.go
  examples/enitity/internal/entitydemo/serve_ui.go
  examples/enitity/internal/entitydemo/serve_ui_ginkgo_test.go
  examples/enitity/internal/entitydemo/store.go
  examples/enitity/internal/entitydemo/util.go
  examples/enitity/main.go
  examples/enitity/main_command_test.go
  examples/enitity/main_suite_test.go
  examples/enitity/webapp/src/ChatWidget.tsx
Labels: none

fix(task): Preserve dependency semantics and order terminal task output
  task/managed_run_ginkgo_test.go
  task/options.go
  task/sse.go
  task/task.go
  task/worker.go
  task/worker_dependency_cancel_test.go
Labels: task

build(deps): Update Go module dependencies
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
Labels: none

fix(api): Stabilize Markdown and terminal table rendering
  api/markdown.go
  api/markdown_options.go
  api/table.go
  api/table_markdown.go
  api/table_markdown_test.go
  api/table_test.go
Labels: none

feat(rpc): expose top-level serve command and track RPC timing
  extensions/cobra.go
  extensions/cobra_ginkgo_test.go
  extensions/cobra_suite_test.go
  rpc/commands.go
  rpc/executor.go
  rpc/executor_execute.go
  rpc/server_timing_ginkgo_test.go
  rpc/server_timing_suite_test.go
Labels: none

chore: update generated and lock files
  examples/enitity/go.sum
Labels: none

feat(task): Expose supervised process generations through task APIs
  exec/exec.go
  exec/stdio_test.go
  exec/supervise_loop.go
  exec/supervised.go
  exec/supervised_task.go
  exec/supervised_task_ginkgo_test.go
  exec/task_details.go
  exec/task_details_ginkgo_test.go
  metrics/handler.go
  task/api.go
  task/control.go
  task/group.go
  task/managed_run.go
  task/managed_run_ginkgo_test.go
  task/manager.go
  task/manager_wait.go
  task/metrics.go
  task/options.go
  task/registry.go
  task/snapshot.go
  task/source.go
  task/sse.go
  task/task.go
  task/waitfor_timeout_test.go
Labels: task

perf(rpc): Cache OpenAPI documents with ETag revalidation
  rpc/etag.go
  rpc/etag_test.go
  rpc/serve.go
  rpc/serve_test.go
Labels: none

build(deps): align Captain and Clicky release candidates
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
Labels: none

build(deps): align Captain and Clicky release candidates
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
Labels: none

feat(aichat): add attachment resolution for multimodal chat inputs
  aichat/agent.go
  aichat/attachments.go
  aichat/attachments_ginkgo_test.go
  aichat/attachments_suite_test.go
  aichat/messages.go
  aichat/server.go
Labels: none

fix(task): Preserve dependency semantics and order terminal task output
  task/managed_run_ginkgo_test.go
  task/options.go
  task/sse.go
  task/task.go
  task/worker.go
  task/worker_dependency_cancel_test.go
Labels: task

perf(rpc): Cache OpenAPI documents with ETag revalidation
  rpc/etag.go
  rpc/etag_test.go
  rpc/serve.go
  rpc/serve_test.go
Labels: none

build(deps): Update Go module dependencies
  aichat/go.mod
  aichat/go.sum
  examples/enitity/go.mod
  examples/enitity/go.sum
Labels: none

refactor(aichat): Delegate Cobra tool adaptation to Captain
  aichat/adapter_ginkgo_test.go
  aichat/adapter_suite_test.go
  aichat/agent.go
  aichat/agent_pool.go
  aichat/agent_pool_test.go
  aichat/agent_stream.go
  aichat/agent_test.go
  aichat/approval.go
  aichat/approval_test.go
  aichat/attachments.go
  aichat/attachments_ginkgo_test.go
  aichat/cost.go
  aichat/cost_test.go
  aichat/genkit.go
  aichat/go.mod
  aichat/go.sum
  aichat/messages.go
  aichat/messages_test.go
  aichat/models.go
  aichat/models_test.go
  aichat/server.go
  aichat/settings.go
  aichat/settings_test.go
  aichat/sse.go
  aichat/sse_test.go
  aichat/strict_tools.go
  aichat/strict_tools_test.go
  aichat/threads.go
  aichat/threads_http.go
  aichat/threads_test.go
  aichat/tool_catalog.go
  aichat/tool_group_test.go
  aichat/tool_registry.go
  aichat/tool_registry_test.go
  aichat/tools_clicky.go
  aichat/tools_clicky_test.go
  aichat/tools_mcp.go
  aichat/tools_mcp_test.go
Labels: none

feat(examples): Add Captain-backed entity demo serving and tests
  Makefile
  examples/enitity/go.mod
  examples/enitity/internal/entitydemo/app.go
  examples/enitity/internal/entitydemo/entitydemo_suite_test.go
  examples/enitity/internal/entitydemo/entitydemo_test.go
  examples/enitity/internal/entitydemo/filters.go
  examples/enitity/internal/entitydemo/markdown_preview.go
  examples/enitity/internal/entitydemo/models.go
  examples/enitity/internal/entitydemo/serve_ui.go
  examples/enitity/internal/entitydemo/serve_ui_ginkgo_test.go
  examples/enitity/internal/entitydemo/store.go
  examples/enitity/internal/entitydemo/util.go
  examples/enitity/main.go
  examples/enitity/main_command_test.go
  examples/enitity/main_suite_test.go
  examples/enitity/webapp/src/ChatWidget.tsx
Labels: none

fix(formatters): preserve no-color settings in Markdown rendering
  formatters/manager.go
  formatters/manager_context.go
  formatters/markdown_formatter.go
  formatters/markdown_options_test.go
Labels: none

feat(rpc): expose top-level serve command and track RPC timing
  extensions/cobra.go
  extensions/cobra_ginkgo_test.go
  extensions/cobra_suite_test.go
  rpc/commands.go
  rpc/executor.go
  rpc/executor_execute.go
  rpc/server_timing_ginkgo_test.go
  rpc/server_timing_suite_test.go
Labels: none

chore: update generated and lock files
  examples/enitity/go.sum
Labels: none

feat(task): Expose supervised process generations through task APIs
  exec/exec.go
  exec/stdio_test.go
  exec/supervise_loop.go
  exec/supervised.go
  exec/supervised_task.go
  exec/supervised_task_ginkgo_test.go
  exec/task_details.go
  exec/task_details_ginkgo_test.go
  metrics/handler.go
  task/api.go
  task/control.go
  task/group.go
  task/managed_run.go
  task/managed_run_ginkgo_test.go
  task/manager.go
  task/manager_wait.go
  task/metrics.go
  task/options.go
  task/registry.go
  task/snapshot.go
  task/source.go
  task/sse.go
  task/task.go
  task/waitfor_timeout_test.go
Labels: task

fix(api): Stabilize Markdown and terminal table rendering
  api/markdown.go
  api/markdown_options.go
  api/table.go
  api/table_markdown.go
  api/table_markdown_test.go
  api/table_test.go
Labels: none

chore(release): 1.21.48 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  01456967ac5f7b6eef0415db64ec55d1a3f626d1
Labels: none

chore(release): 1.21.49 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  842af230f6c6aa56c2512f9a887b0aed73689c6b
Labels: none

chore(release): 1.21.50 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
