Repository flanksource/clicky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, go, ci, docker, build, ai, api, formatters, mcp, task, schema, config

simplify timeago formatting and fix negative duration handling
  api/human.go
  api/tailwind/truncate_test.go
  task/task.go
Labels: task

Notes added by 'git notes add'
  9ba9f43a30b7e83736f7d304cd7601f300449ca1
Labels: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

feat(rpc): add structured data support to rpc operations via direct function invocation
  cobra_command.go
  entity.go
  rpc/converter.go
  rpc/executor.go
  rpc/serve.go
  rpc/types.go
Labels: none

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  eb59755d7f9bf86635750f11be2448d8b3a582a0
Labels: none

chore(build): update release workflow and adjust versioning strategy
  .github/workflows/release.yml
  .releaserc.json
  examples/uber_demo/FIXTURES.md
  go.mod
  go.sum
Labels: none

chore: bump version
  VERSION
Labels: none

feat(api)!: add custom actions and bulk actions to entities
  entity.go
  examples/uber_demo/go.sum
  go.mod
  go.sum
Labels: none

chore(release): 1.21.1 [skip ci]
  CHANGELOG.md
  VERSION
Labels: none

Notes added by 'git notes add'
  a37fa9b86677e8924e5afa7b8c4a8c095103abf6
Labels: none

feat(ui): add task progress web ui with sse streaming and json api
  task/api.go
  task/snapshot.go
  task/sse.go
  task/task_fixture_test.go
  task/ui/.gitignore
  task/ui/assets.go
  task/ui/handler.go
  task/ui/src/App.tsx
  task/ui/src/components/ProgressBar.tsx
  task/ui/src/components/Summary.tsx
  task/ui/src/components/TaskGroup.tsx
  task/ui/src/components/TaskRow.tsx
  task/ui/src/index.tsx
  task/ui/src/types.ts
  task/ui/src/utils.ts
  task/ui/vite.config.ts
Labels: task

feat(formatters): add html-react formatter with embedded react component
  Makefile
  formatters/html/react/assets.go
  formatters/html/react/default_component.jsx
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
  formatters/manager.go
  formatters/options.go
  formatters/tree_formatter.go
Labels: none

feat(mcp): add install command and improve stdio handling
  mcp/command.go
  mcp/install.go
  mcp/registry.go
  mcp/server.go
Labels: mcp

feat(api): add admin entity subcommands and entity id wrapping
  entity.go
  rpc/converter.go
  rpc/executor.go
  rpc/openapi_serve_integration_test.go
  rpc/serve.go
Labels: none

feat(lint): add clickylint static analyzer for api.Text usage patterns
  cmd/clicky/main.go
  cmd/clickylint/main.go
  lint/analyzer.go
  lint/analyzer_test.go
  lint/plugin.go
  lint/testdata/src/bad/bad.go
  lint/testdata/src/good/good.go
Labels: none

feat(ci): upgrade go to 1.26 and add task-ui frontend builds
  .github/workflows/lint.yml
  .github/workflows/test.yml
  e2e_integration_test.go
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  examples/uber_demo/main.go
Labels: none

refactor(api): simplify html rendering with fmt.fprintf and static html provider
  api/code.go
  api/collapsed.go
  api/column.go
  api/table.go
  api/text.go
  api/tree_html.go
  cobra_command.go
  go.mod
  go.sum
Labels: none

fix(ci): add gitignore negations for task-ui and golangci config
  .gitignore
  .golangci.yaml
  task/ui/package-lock.json
  task/ui/package.json
  task/ui/tsconfig.json
Labels: none

fix: restore lint testdata stub dropped during rebase
  lint/testdata/src/github.com/flanksource/clicky/api/stub.go
Labels: none

feat(api): add admin entity subcommands and entity id wrapping
  entity.go
  rpc/converter.go
  rpc/executor.go
  rpc/openapi_serve_integration_test.go
  rpc/serve.go
Labels: none

feat(lint): add clickylint static analyzer for api.Text usage patterns
  cmd/clicky/main.go
  cmd/clickylint/main.go
  lint/analyzer.go
  lint/analyzer_test.go
  lint/plugin.go
  lint/testdata/src/bad/bad.go
  lint/testdata/src/good/good.go
Labels: none

feat(ui): add task progress web ui with sse streaming and json api
  task/api.go
  task/snapshot.go
  task/sse.go
  task/task_fixture_test.go
  task/ui/.gitignore
  task/ui/assets.go
  task/ui/handler.go
  task/ui/src/App.tsx
  task/ui/src/components/ProgressBar.tsx
  task/ui/src/components/Summary.tsx
  task/ui/src/components/TaskGroup.tsx
  task/ui/src/components/TaskRow.tsx
  task/ui/src/index.tsx
  task/ui/src/types.ts
  task/ui/src/utils.ts
  task/ui/vite.config.ts
Labels: task

fix: restore lint testdata stub dropped during rebase
  lint/testdata/src/github.com/flanksource/clicky/api/stub.go
Labels: none

feat(formatters): add html-react formatter with embedded react component
  Makefile
  formatters/html/react/assets.go
  formatters/html/react/default_component.jsx
  formatters/html_react_formatter.go
  formatters/html_react_formatter_test.go
  formatters/manager.go
  formatters/options.go
  formatters/tree_formatter.go
Labels: none

feat(mcp): add install command and improve stdio handling
  mcp/command.go
  mcp/install.go
  mcp/registry.go
  mcp/server.go
Labels: mcp

fix(ci): add gitignore negations for task-ui and golangci config
  .gitignore
  .golangci.yaml
  task/ui/package-lock.json
  task/ui/package.json
  task/ui/tsconfig.json
Labels: none

refactor(api): simplify html rendering with fmt.fprintf and static html provider
  api/code.go
  api/collapsed.go
  api/column.go
  api/table.go
  api/text.go
  api/tree_html.go
  cobra_command.go
  go.mod
  go.sum
Labels: none

feat(ci): upgrade go to 1.26 and add task-ui frontend builds
  .github/workflows/lint.yml
  .github/workflows/test.yml
  e2e_integration_test.go
  examples/uber_demo/go.mod
  examples/uber_demo/go.sum
  examples/uber_demo/main.go
Labels: none

feat(api): add entity parent nesting and command aliases support
  cobra_command.go
  entity.go
  go.sum
  sub_command.go
  sub_command_test.go
Labels: none

fix(api): prevent panic when all table columns are filtered out
  api/table.go
  api/table_test.go
  entity.go
  entity_test.go
Labels: none

feat(flags): add support for column selectors in CSV and Excel files
  flags/assignment.go
  flags/assignment_test.go
Labels: none

feat(format): support multiple output sinks with format=file syntax
  flags.go
  format.go
  formatters/format_sinks_test.go
  formatters/options.go
Labels: none

fix(rpc): improve command executor robustness and path sanitization
  cobra_command.go
  rpc/serve.go
  rpc/serve_test.go
  task/task.go
Labels: task

fix: address PR #94 review feedback and lint failures
  cobra_command.go
  entity.go
  format.go
  formatters/format_sinks_test.go
  formatters/options.go
  go.sum
  rpc/serve.go
  rpc/serve_test.go
Labels: none

fix: address PR #94 review feedback and lint failures
  cobra_command.go
  entity.go
  format.go
  formatters/format_sinks_test.go
  formatters/options.go
  go.sum
  rpc/serve.go
  rpc/serve_test.go
Labels: none

fix(api): prevent panic when all table columns are filtered out
  api/table.go
  api/table_test.go
  entity.go
  entity_test.go
Labels: none

feat(api): add entity parent nesting and command aliases support
  cobra_command.go
  entity.go
  go.sum
  sub_command.go
  sub_command_test.go
Labels: none

feat(flags): add support for column selectors in CSV and Excel files
  flags/assignment.go
  flags/assignment_test.go
Labels: none

feat(format): support multiple output sinks with format=file syntax
  flags.go
  format.go
  formatters/format_sinks_test.go
  formatters/options.go
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
# Automatically labels PRs based on changed files

# Documentation changes
documentation:
  - any:
    - "**/*.md"
    - "docs/**"
    - "examples/**"

# Test changes
test:
  - any:
    - "**/*_test.go"
    - "**/testdata/**"
    - "test/**"

# Source code changes
go:
  - any:
    - "**/*.go"
    - "go.mod"
    - "go.sum"

# CI/CD changes
ci:
  - any:
    - ".github/workflows/**"
    - ".github/actions/**"
    - ".github/dependabot.yml"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - ".releaserc.json"
    - ".commitlintrc.json"

# Docker changes
docker:
  - any:
    - "Dockerfile"
    - "Dockerfile.*"
    - "docker-compose.yml"
    - "docker-compose.yaml"
    - ".dockerignore"

# Build configuration
build:
  - any:
    - "Makefile"
    - ".goreleaser.yaml"
    - ".goreleaser.yml"
    - "go.mod"
    - "go.sum"

# AI/Agent related changes
ai:
  - any:
    - "ai/**"
    - "**/agent*.go"
    - "**/claude*.go"
    - "**/aider*.go"

# API related changes
api:
  - any:
    - "api/**"
    - "**/api*.go"

# Formatter related changes
formatters:
  - any:
    - "formatters/**"
    - "**/formatter*.go"
    - "**/format*.go"

# MCP (Model Context Protocol) changes
mcp:
  - any:
    - "mcp/**"

# Task management changes
task:
  - any:
    - "task/**"
    - "**/task*.go"

# Schema related changes
schema:
  - any:
    - "**/schema*.go"
    - "**/*.yaml"
    - "**/*.yml"
    - "**/*.json"

# Config files
config:
  - any:
    - ".golangci.yml"
    - ".golangci.yaml"
    - ".gitignore"
    - ".editorconfig"
    - "**/*config*"
